@layer components {
	/* #region root */
	.AiChatMarkdown {
		color: var(--color-fg-11);
	}
	/* #endregion root */

	/* #region code header */
	.AiChatMarkdown-code-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;

		margin-top: 16px;
		padding: 8px 16px;
		border-radius: 8px 8px 0 0;

		background: var(--color-base-1-05);
		color: var(--color-fg-11);

		font-size: 0.875rem;
		font-weight: 600;
	}

	.AiChatMarkdown-code-header-language {
		text-transform: lowercase;

		& > span {
			font-size: 0.75rem;
		}
	}
	/* #endregion code header */

	/* #region markdown elements */
	.AiChatMarkdown-h1 {
		margin: 0 0 32px 0;
		scroll-margin: 80px;

		font-size: 2.25rem;
		font-weight: 800;
		letter-spacing: -0.025em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.AiChatMarkdown-h2 {
		margin: 32px 0 16px 0;
		scroll-margin: 80px;

		font-size: 1.875rem;
		font-weight: 600;
		letter-spacing: -0.025em;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.AiChatMarkdown-h3 {
		margin: 24px 0 16px 0;
		scroll-margin: 80px;

		font-size: 1.5rem;
		font-weight: 600;
		letter-spacing: -0.025em;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.AiChatMarkdown-h4 {
		margin: 24px 0 16px 0;
		scroll-margin: 80px;

		font-size: 1.25rem;
		font-weight: 600;
		letter-spacing: -0.025em;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.AiChatMarkdown-h5 {
		margin: 16px 0;

		font-size: 1.125rem;
		font-weight: 600;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.AiChatMarkdown-h6 {
		margin: 16px 0;

		font-weight: 600;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.AiChatMarkdown-p {
		margin: 20px 0;
		line-height: 1.75;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.AiChatMarkdown-a {
		color: var(--color-accent-06);

		font-weight: 500;
		text-decoration: underline;
		text-underline-offset: 4px;
	}

	.AiChatMarkdown-blockquote {
		padding-left: 24px;
		border-left: 2px solid var(--color-base-1-06);

		font-style: italic;
	}

	.AiChatMarkdown-ul {
		margin: 20px 0;
		margin-left: 24px;

		list-style-type: disc;

		& > li {
			margin-top: 8px;
		}
	}

	.AiChatMarkdown-ol {
		margin: 20px 0;
		margin-left: 24px;

		list-style-type: decimal;

		& > li {
			margin-top: 8px;
		}
	}

	.AiChatMarkdown-hr {
		margin: 20px 0;
		border: 0;
		border-bottom: 1px solid var(--color-base-1-06);
	}

	.AiChatMarkdown-table {
		width: 100%;
		margin: 20px 0;

		overflow-y: auto;
		border-spacing: 0;
		border-collapse: separate;
	}

	.AiChatMarkdown-th {
		padding: 8px 16px;
		background: var(--color-base-1-04);

		text-align: left;
		font-weight: 700;

		&:first-child {
			border-top-left-radius: 8px;
		}

		&:last-child {
			border-top-right-radius: 8px;
		}

		&[align="center"] {
			text-align: center;
		}

		&[align="right"] {
			text-align: right;
		}
	}

	.AiChatMarkdown-td {
		padding: 8px 16px;
		border-bottom: 1px solid var(--color-base-1-06);
		border-left: 1px solid var(--color-base-1-06);

		text-align: left;

		&:last-child {
			border-right: 1px solid var(--color-base-1-06);
		}

		&[align="center"] {
			text-align: center;
		}

		&[align="right"] {
			text-align: right;
		}
	}

	.AiChatMarkdown-tr {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid var(--color-base-1-06);

		&:first-child {
			border-top: 1px solid var(--color-base-1-06);
		}

		&:last-child > td:first-child {
			border-bottom-left-radius: 8px;
		}

		&:last-child > td:last-child {
			border-bottom-right-radius: 8px;
		}
	}

	.AiChatMarkdown-sup {
		& > a {
			font-size: 0.75rem;
			text-decoration: none;
		}
	}

	.AiChatMarkdown-code-block {
		display: block;
	}

	.AiChatMarkdown-pre {
		overflow-x: auto;

		margin: 0;
		padding: 16px;
		border-radius: 0 0 8px 8px;

		background: #000000;
		color: #ffffff;
	}

	.AiChatMarkdown-inline-code {
		padding: 2px 6px;
		border: 1px solid var(--color-base-1-06);
		border-radius: 6px;

		background: var(--color-base-1-04);

		font-weight: 600;
	}
	/* #endregion markdown elements */
}
