@layer components {
	.AiChatComposer {
		contain: content;

		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		gap: 8px;

		min-width: 320px;
	}

	.AiChatComposer-editor {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-area: 1 / 1 / -1 / -1;

		contain: style;
	}

	.AiChatComposer-editor-area {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: auto;
		grid-area: inherit;
		gap: 0px;

		padding: 0;
	}

	.AiChatComposer-editor-content-container {
		display: flex;
		grid-area: 1 / 1 / 2 / -1;

		min-height: 36px;

		position: relative;

		max-height: 160px;
		overflow-y: auto;
		contain: content;
	}

	.AiChatComposer-editor-content {
		min-height: min-content;
		height: 1lh;
		color: var(--color-fg-11);
		padding: 10px 10px 56px 10px;

		p {
			margin: 0;
		}
	}

	.AiChatComposer-configurations {
		grid-area: 2 / 1;
		width: max-content;
		justify-self: start;
		align-self: end;

		display: flex;
		align-items: center;
		gap: 2px;

		padding: 0px 0px 10px 10px;
	}

	.AiChatComposer-actions {
		grid-area: 2 / 2;
		width: max-content;
		justify-self: end;
		align-self: end;

		display: flex;
		align-items: center;
		gap: 8px;

		padding: 0px 10px 10px 0px;
	}
}
