@layer components {
	/* #region root */
	.PageEditor {
		display: flex;
		flex-direction: column;

		height: 100%;
	}

	.PageEditor-editor-area {
		display: flex;
		flex-direction: column;

		flex: 1;
		min-height: 0;
		overflow-y: auto;

		contain: strict;
		container-type: size;
	}

	.PageEditor-panels-group {
		flex: 1;
	}

	.PageEditor-content-panel {
		min-width: 0;
		min-height: 0;

		display: flex;
		flex-direction: column;

		contain: inline-size layout style;
	}

	.PageEditor-panel-size-handle-container {
		/*
		The container makes sure that the even though the handle
		has an arbitrarily large height, it will not affect the ancestor's
		scrollable area size.
		*/
		contain: layout style size;
		width: 0;
		z-index: 2;

		display: flex;
		justify-content: center;
	}

	.PageEditor-panel-size-handle {
		/*
		Since the container size depends exclusively on the content of the editor,
		to ensure the handle spans across the whole page height,
		we set an arbitrarily large height to handle.
		*/
		height: 9999px;
		width: 24px;

		display: flex;
		justify-content: center;

		position: absolute;

		/* Set a container to support position absolute children */
		contain: layout style;
		touch-action: none;

		background-color: transparent;

		&[data-resize-handle-state="drag"] {
			background-color: var(--color-base-alt-2-10);
		}

		&[data-resize-handle-state="hover"] {
			background-color: var(--color-base-alt-1-07);
		}

		&::before {
			content: "";
			position: absolute;
			height: 100%;

			width: 2px;
		}

		&:not([data-resize-handle-state="drag"], [data-resize-handle-state="hover"])::before {
			background-color: var(--color-base-alt-1-07);
		}
	}

	.PageEditor-sidebar {
		contain: inline-size layout style;
	}
	/* #endregion root */

	/* #region header */
	.PageEditorHeader {
		display: flex;
		height: 48px;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		border-bottom: 1px solid var(--color-base-fg-03);
		background: var(--color-base-1-05);
		padding-left: 16px;
		padding-right: 16px;
	}

	.PageEditorHeader-diff-switch {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.PageEditorHeader-breadcrumb {
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 0.875rem;
		color: var(--gray-800);
	}

	.PageEditorHeader-breadcrumb-home,
	.PageEditorHeader-breadcrumb-segment,
	.PageEditorHeader-breadcrumb-segment-current {
		white-space: nowrap;

		padding: 6px;

		display: inline-flex;
		gap: 4px;
		align-items: center;
		justify-content: center;
	}

	.PageEditorHeader-breadcrumb-home,
	.PageEditorHeader-breadcrumb-segment {
		color: var(--gray-600);
		cursor: pointer;

		&:hover {
			color: var(--gray-800);
			text-decoration: underline;
		}
	}

	.PageEditorHeader-breadcrumb-home-underline-hack {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		margin-top: 4px;
		pointer-events: none;
		user-select: none;
		text-decoration: inherit;
	}

	.PageEditorHeader-breadcrumb-segment-current {
		padding: 8px;
		color: var(--gray-700);
	}

	.PageEditorHeader-switch-group {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.PageEditorHeader-switch-container {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.PageEditorHeader-label-text,
	.PageEditorHeader-switch-text {
		font-size: 0.75rem;
		color: var(--gray-600);
	}
	/* #endregion header */

	/* #region pending edits floating */
	.PageEditorPendingEditsFloating {
		place-self: center;

		display: flex;
		align-items: center;
		gap: 8px;

		padding: 0px 0px 0px 8px;

		border-radius: 6px;

		background: var(--color-base-alt-1-08);

		box-shadow: 0 4px 12px rgb(0 0 0 / 0.2);
	}

	.PageEditorPendingEditsFloating-review-pager {
		display: inline-flex;
		align-items: center;
		gap: 4px;

		user-select: none;
	}

	.PageEditorPendingEditsFloating-review-pager-label {
		min-width: 128px;

		text-align: center;
		font-size: 0.75rem;
		color: var(--color-fg-08);
	}
	/* #endregion pending edits floating */
}
