@layer common_components {
	.PageEditorPresence {
		display: flex;
		align-items: center;
		gap: 0;

		position: relative;
	}

	.PageEditorPresence-avatar {
		position: relative;
		z-index: var(--PageEditorPresence-avatar-z-index, 0);

		&:not(:first-child) {
			margin-left: -8px;
		}
	}

	.PageEditorPresence-avatar-border {
		position: absolute;
		inset: 0;

		border: 2px solid var(--PageEditorPresence-avatar-border-color, var(--color-base-1-10));
		border-radius: 50%;
		pointer-events: none;
	}

	.PageEditorPresence-avatar-overflow {
		position: relative;
		z-index: var(--PageEditorPresence-avatar-z-index, 0);

		background: var(--color-base-1-06);
		color: var(--color-fg-11);
		user-select: none;

		&:not(:first-child) {
			margin-left: -8px;
		}
	}

	.PageEditorPresence-avatar-overflow-text {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		font-size: 0.75rem;
		font-weight: 500;
	}

	.PageEditorPresence-tooltip-list {
		display: flex;
		flex-direction: column;
		gap: 8px;

		max-height: 320px;
		min-width: 224px;
		overflow: auto;

		padding: 4px;
	}

	.PageEditorPresence-tooltip-item {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.PageEditorPresence-tooltip-item-avatar {
		flex: 0 0 auto;
	}

	.PageEditorPresence-tooltip-item-name {
		font-size: 0.875rem;
		line-height: 1.25rem;

		min-width: 0;
		contain: content;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
