@layer components {
	.PageEditorError {
		box-sizing: border-box;

		display: flex;
		align-items: center;
		justify-content: center;

		height: 100%;
		width: 100%;

		padding: 16px;
	}

	.PageEditorError-content {
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;

		width: 100%;
		max-width: 560px;

		padding: 16px;
		border-radius: 8px;
		border: 1px solid var(--color-base-1-10);

		background: var(--color-base-1-04);
		color: var(--color-fg-11);

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
	}

	.PageEditorError-title {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.25;
		color: var(--color-fg-12);
	}

	.PageEditorError-description {
		color: var(--color-fg-09);
		margin-bottom: 20px;
	}

	.PageEditorError-actions {
		display: flex;
		align-items: center;
		align-self: center;
		margin-bottom: 20px;
	}

	.PageEditorError-technical-details {
		width: 100%;
	}

	.PageEditorError-technical-details-toggle {
		display: flex;
		align-items: center;
		gap: 6px;
		cursor: pointer;
		font-size: 0.875rem;
		color: var(--color-fg-07);

		padding: 8px;

		background: var(--color-base-1-04);

		&:hover {
			color: var(--color-fg-08);
		}
	}

	.PageEditorError-technical-details-toggle-icon {
		flex-shrink: 0;
		color: inherit;
	}

	.PageEditorError-technical-details[open] .PageEditorError-technical-details-toggle-icon {
		transform: rotate(90deg);
	}

	.PageEditorError-technical-details-pre {
		font-size: 0.75rem;
		line-height: 1.5;

		color: var(--color-fg-09);
	}

	.PageEditorError-technical-details-textarea {
		padding: 12px;

		width: 100%;
		height: 280px;

		resize: none;
		border: none;

		background: var(--color-base-1-03);

		overflow: auto;

		white-space: inherit;
	}
}
