@layer components {
	.PageRichTextEditor {
		height: 100%;
		width: 100%;
	}

	.PageRichTextEditorInner {
		height: 100%;
		width: 100%;
	}

	.PageRichTextEditorInner-editor-container {
		height: 100%;
		width: 100%;
	}

	.PageRichTextEditorInner-editor-content {
		height: 100%;
		padding-left: 64px;
		padding-right: 64px;
		padding-top: 16px;
		padding-bottom: 16px;

		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		color: var(--gray-900);

		outline: none;

		&:focus {
			outline: none;
		}

		/* Editor content styles */
		/* Tiptap editor styles to match liveblocks example */
		&:focus p[data-placeholder]::before {
			content: attr(data-placeholder);
			position: absolute;
			user-select: none;
			pointer-events: none;
			color: var(--gray-600);
		}

		h1 {
			font-size: 2em;
			line-height: 2;
			font-weight: 400;
			color: var(--gray-900);
		}

		h2 {
			font-size: 1.6em;
			font-weight: 400;
			line-height: 1.6;
			color: var(--gray-800);
		}

		h3 {
			font-size: 1.4em;
			font-weight: 400;
			line-height: 1.6;
			color: var(--gray-800);
		}

		h4 {
			font-size: 1.3em;
			font-weight: 500;
			line-height: 1.6;
			color: var(--gray-800);
		}

		h5 {
			font-size: 1.2em;
			font-weight: 500;
			line-height: 1.6;
			color: var(--gray-900);
		}

		h6 {
			font-size: 1.1em;
			font-weight: 700;
			line-height: 1.4;
			color: var(--gray-900);
		}

		p {
			margin-bottom: 0.2em 0;
		}

		ul {
			display: block;
			list-style-type: disc;
			margin: 0.2em 0;
			padding-inline-start: 40px;
			unicode-bidi: isolate;
		}

		ol {
			display: block;
			list-style-type: decimal;
			margin: 0.2em 0;
			padding-inline-start: 40px;
			unicode-bidi: isolate;
		}

		li {
			display: list-item;
			text-align: -webkit-match-parent;
			unicode-bidi: isolate;
		}

		li::marker {
			unicode-bidi: isolate;
			font-variant-numeric: tabular-nums;
			text-transform: none;
			text-indent: 0px;
			text-align: start;
			text-align-last: start;
		}
	}

	.PageRichTextEditorInner-threads-container {
		position: absolute;
		right: 0;
		margin-right: 16px;
	}

	.PageRichTextEditorInner-editor-command {
		z-index: 50;
		height: auto;
		max-height: 330px;
		overflow-y: auto;
		border-radius: 6px;
		border: 1px solid var(--gray-500);
		background: var(--gray-100);
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 8px;
		padding-bottom: 8px;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
		transition: all 150ms ease;
	}

	.PageRichTextEditorInner-editor-command-empty {
		padding-left: 8px;
		padding-right: 8px;
		color: var(--gray-400);
	}

	.PageRichTextEditorInner-editor-command-item {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 8px;
		border-radius: 6px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 4px;
		padding-bottom: 4px;
		text-align: left;
		font-size: 0.875rem;

		&:hover {
			background: var(--gray-300);
		}

		&[aria-selected="true"] {
			background: var(--gray-300);

			&:hover {
				background: var(--gray-400);
			}
		}
	}

	.PageRichTextEditorInner-editor-command-item-icon {
		display: flex;
		height: 40px;
		width: 40px;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		border: 1px solid var(--gray-500);
		background: var(--gray-050);
	}

	.PageRichTextEditorInner-editor-command-item-title {
		font-weight: 500;
		color: var(--gray-700);
	}

	.PageRichTextEditorInner-editor-command-item-description {
		font-size: 0.75rem;
		color: var(--gray-600);
	}

	.PageRichTextEditorToolbar {
		height: 44px;
		background: var(--gray-050);

		contain: inline-size layout style;

		position: relative;
		z-index: 1;
	}

	.PageRichTextEditorToolbar-scrollable-area {
		gap: 4px;

		flex-direction: row;
		align-items: center;
		display: flex;

		padding: 4px 8px;

		overflow-x: auto;
		overflow-y: hidden;
		contain: content;

		scrollbar-width: initial;

		min-width: 0;
	}

	.PageRichTextEditorToolbar-word-count-badge-hidden {
		display: none;
	}

	.PageRichTextEditorToolbar-status-badge,
	.PageRichTextEditorToolbar-word-count-badge {
		padding: 4px 8px;
		font-size: 0.9rem;
	}
}
