@reference "@/app.css";

@layer components {
	.DocsSidebar-TreeItem-content {
		display: grid;
		grid-template:
			"arrow 		primary-action	primary-action" auto
			". 				.								actions" auto
			/ auto 1fr;
	}

	.DocsSidebar-TreeItem-main-row {
		grid-area: arrow / arrow / primary-action / primary-action;
		/* grid-area: 1 / 1 / -1 / -1; */
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}

	.DocsSidebar-TreeItem-arrow {
		grid-area: arrow;
	}

	.DocsSidebar-TreeItem-primary-action {
		grid-area: primary-action;
	}

	.DocsSidebar-TreeItem-primary-action-interactive-area {
		grid-area: 1 / 1 / -1 / -1;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}

	.DocsSidebar-TreeItem-actions {
		grid-area: actions;
	}
}
