@layer common_components {
	/* #region primary action */
	.MyPrimaryAction {
		box-sizing: border-box;

		display: block;
		width: 100%;

		border: 2px solid transparent;
		border-radius: inherit;

		background: transparent;
		color: inherit;
		font: inherit;
		text-align: inherit;

		outline: none;
		cursor: pointer;

		contain: content;

		&[data-selected] {
			background: var(--color-base-1-05);
			color: var(--color-fg-09);
		}

		&:focus-visible {
			border-color: var(--color-fg-12);
		}

		&:hover,
		&:focus-visible {
			background: var(--color-base-1-06);
			color: var(--color-fg-11);
		}

		&:active {
			background: var(--color-base-1-07);
			color: var(--color-fg-12);
		}
	}

	/* #endregion primary action */
}
