@layer common_components {
	.MyButton {
		box-sizing: border-box;
		position: relative;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		white-space: nowrap;
		flex-shrink: 0;

		height: 36px;
		padding: 6px 10px;
		border-radius: 6px;
		border: 2px solid transparent;

		font-size: 0.875rem;
		font-weight: 500;

		transition: background-color 0.1s linear;
		outline: none;

		&:disabled {
			cursor: default;
		}

		&:focus-visible {
			border-color: var(--color-fg-12);
		}

		&[aria-busy="true"] {
			cursor: wait;
		}
	}

	/* Variants */
	.MyButton-variant-default {
		background: var(--color-base-1-07);
		color: var(--color-fg-10);

		&:not(:disabled) {
			&:hover,
			&:focus-visible {
				background: var(--color-base-1-08);
				color: var(--color-fg-11);
			}

			&:active {
				background: var(--color-base-1-09);
				color: var(--color-fg-12);
			}
		}

		&:disabled {
			background: var(--color-base-1-04);
			color: var(--color-fg-03);
		}
	}

	.MyButton-variant-accent {
		color: var(--color-fg-11);
		background: var(--color-accent-01);
		border-color: var(--color-accent-02);
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		&:not(:disabled) {
			&:focus-visible {
				background: var(--color-accent-02);
			}

			&:hover {
				color: var(--color-fg-12);
				background: var(--color-accent-02);

				&:not(:focus-visible) {
					border-color: var(--color-accent-03);
				}
			}

			&:active {
				background: var(--color-accent-03);

				&:not(:focus-visible) {
					border-color: var(--color-accent-04);
				}
			}
		}

		&:disabled {
			color: var(--color-fg-04);
			background: var(--color-base-1-03);
			border-color: var(--color-base-1-03);
		}

		&[aria-expanded="true"] {
			border-color: var(--color-fg-06);
			color: var(--color-fg-08);
		}
	}

	.MyButton-variant-destructive {
		background: var(--destructive);
		color: var(--color-fg-10);

		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		@media (prefers-color-scheme: dark) {
			background: var(--red-300);
		}

		&:hover {
			background: var(--red-300);
		}
	}

	.MyButton-variant-outline {
		color: var(--color-fg-06);
		background: var(--color-base-1-03);
		border-color: var(--color-fg-04);
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		&:not(:disabled) {
			&:hover {
				color: var(--color-fg-10);
				background: var(--color-base-1-04);

				&:not(:focus-visible) {
					border-color: var(--color-fg-05);
				}
			}

			&:focus-visible {
				color: var(--color-fg-10);
				background: var(--color-base-1-04);
			}

			&:active {
				&:not(:focus-visible) {
					border-color: var(--color-fg-06);
				}

				color: var(--color-fg-12);
			}
		}

		&:disabled {
			color: var(--color-fg-04);
			background: var(--color-base-1-03);
			border-color: var(--color-base-1-03);
		}

		&[aria-expanded="true"] {
			border-color: var(--color-fg-06);
			color: var(--color-fg-08);
		}
	}

	.MyButton-variant-secondary {
		background: var(--color-base-1-08);
		color: var(--color-fg-10);
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		&:not(:disabled) {
			&:hover,
			&:focus-visible {
				background: var(--color-base-1-09);
				color: var(--color-fg-11);
			}

			&:active {
				background: var(--color-base-1-10);
				color: var(--color-fg-12);
			}
		}
	}

	.MyButton-variant-secondary-subtle {
		background: var(--color-base-alt-1-05);
		color: var(--color-fg-09);

		&:not(:disabled) {
			&:hover,
			&:focus-visible {
				background: var(--color-base-alt-1-06);
				color: var(--color-fg-11);
			}

			&:active {
				background: var(--color-base-alt-1-07);
				color: var(--color-fg-12);
			}
		}
	}

	.MyButton-variant-ghost {
		background: transparent;

		&:not(:disabled) {
			&:hover,
			&:focus-visible {
				background: var(--color-base-1-06);
				color: var(--color-fg-12);

				@media (prefers-color-scheme: dark) {
					background: var(--color-base-1-04);
				}
			}

			&:active {
				background: var(--color-base-1-08);
			}
		}

		&:disabled {
			color: var(--color-fg-05);
		}
	}

	.MyButton-variant-ghost-accent {
		background: transparent;
		color: var(--color-accent-06);

		&:not(:disabled) {
			&:hover,
			&:focus-visible {
				background: var(--color-base-1-04);
				color: var(--color-accent-08);
			}

			&:active {
				background: var(--color-base-1-08);
				color: var(--color-accent-09);
			}
		}

		&:disabled {
			color: var(--color-accent-03);
		}
	}

	.MyButton-variant-ghost-highlightable {
		background: transparent;
		color: var(--color-fg-09);

		&:not(:disabled) {
			&:hover,
			&:focus-visible {
				background: var(--color-base-1-07);
				color: var(--color-fg-11);
			}

			&:active {
				background: var(--color-base-1-08);
				color: var(--color-fg-12);
			}
		}

		&:disabled {
			color: var(--color-fg-04);
		}
	}

	.MyButton-variant-tertiary {
		background: transparent;

		&:hover,
		&:focus-visible {
			background: var(--sidebar-accent);
			color: var(--sidebar-accent-foreground);
		}

		&:active {
			background: var(--sidebar-accent);
			color: var(--sidebar-accent-foreground);
		}
	}

	.MyButton-variant-link {
		background: transparent;
		color: var(--primary);
		text-underline-offset: 4px;

		&:hover {
			text-decoration: underline;
		}
	}

	.MyButtonIcon {
		width: 1rem;
		height: 1rem;
	}
}
