@layer common_components {
	.MyButton {
		box-sizing: border-box;
		position: relative;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		white-space: nowrap;
		flex-shrink: 0;

		height: 36px;
		padding: 6px 10px;
		border-radius: 6px;
		border: 2px solid transparent;

		font-size: 0.875rem; /* text-sm */
		font-weight: 500; /* font-medium */

		transition: background-color 0.15s ease-in-out;
		outline: none;

		&:disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		&:focus-visible {
			border-color: var(--color-fg-12);
		}

		&[aria-busy="true"] {
			cursor: wait;
		}
	}

	/* Variants */
	.MyButton-variant-default {
		background: var(--primary);
		color: var(--primary-foreground);
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		&:hover {
			background: oklch(from var(--primary) l c h / 0.9);
		}
	}

	.MyButton-variant-destructive {
		background: var(--destructive);
		color: var(--color-fg-10);

		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		@media (prefers-color-scheme: dark) {
			background: var(--red-300);
		}

		&:hover {
			background: var(--red-300);
		}
	}

	.MyButton-variant-outline {
		background: var(--background);
		border-color: var(--border);
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		&:hover {
			background: var(--accent);
			color: var(--accent-foreground);
		}

		@media (prefers-color-scheme: dark) {
			background: var(--color-base-1-05);
			border-color: var(--color-base-1-09);

			&:hover {
				background: var(--color-base-1-06);
				color: var(--color-fg-11);
			}
		}
	}

	.MyButton-variant-secondary {
		background: var(--color-base-1-08);
		color: var(--color-fg-11);
		box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.04);

		&:hover {
			background: var(--color-base-1-09);
		}

		&:active {
			background: var(--color-base-1-10);
		}
	}

	.MyButton-variant-secondary-subtle {
		background: var(--color-base-1-08);
		color: var(--color-fg-09);

		&:hover,
		&:focus-visible {
			background: var(--color-base-1-09);
			color: var(--color-fg-12);
		}

		&:active {
			background: var(--color-base-1-10);
		}
	}

	.MyButton-variant-ghost {
		background: transparent;

		&:hover,
		&:focus-visible {
			background: var(--color-base-1-06);
			color: var(--color-fg-12);

			@media (prefers-color-scheme: dark) {
				background: var(--color-base-1-04);
			}
		}

		&:active {
			background: var(--color-base-1-08);
		}
	}

	.MyButton-variant-ghost-secondary {
		background: transparent;
		color: var(--color-fg-09);

		&:hover,
		&:focus-visible {
			background: var(--color-base-1-06);
			color: var(--color-fg-12);
		}

		@media (prefers-color-scheme: dark) {
			&:hover,
			&:focus-visible {
				background: var(--color-base-1-04);
			}
		}
	}

	.MyButton-variant-tertiary {
		background: transparent;

		&:hover,
		&:focus-visible {
			background: var(--sidebar-accent);
			color: var(--sidebar-accent-foreground);
		}

		&:active {
			background: var(--sidebar-accent);
			color: var(--sidebar-accent-foreground);
		}
	}

	.MyButton-variant-link {
		background: transparent;
		color: var(--primary);
		text-underline-offset: 4px;

		&:hover {
			text-decoration: underline;
		}
	}

	.MyButtonIcon {
		width: 1rem;
		height: 1rem;
	}
}
