@layer common_components {
	/* #region icon */
	.MyCheckboxButtonIcon {
		width: 1rem;
		height: 1rem;
	}
	/* #endregion icon */

	/* #region root */
	.MyCheckboxButton:where(:has(> .MyCheckboxButton-control:focus-visible), .MyCheckboxButton-state-focus-visible) {
		outline-color: var(--color-fg-12);
	}

	.MyCheckboxButton.MyButton-variant-ghost_destructive:not(
			:is(.MyButton-state-disabled, .MyCheckboxButton-state-disabled)
		):where(:has(> .MyCheckboxButton-control:focus-visible), .MyCheckboxButton-state-focus-visible) {
		background: var(--color-red-03);
		color: var(--color-red-11);
	}

	.MyCheckboxButton.MyButton-variant-outline_destructive:not(
			:is(.MyButton-state-disabled, .MyCheckboxButton-state-disabled)
		):hover,
	.MyCheckboxButton.MyButton-variant-outline_destructive:not(
			:is(.MyButton-state-disabled, .MyCheckboxButton-state-disabled)
		):hover:where(:has(> .MyCheckboxButton-control:checked), .MyCheckboxButton-state-checked),
	.MyCheckboxButton.MyButton-variant-outline_destructive:not(
			:is(.MyButton-state-disabled, .MyCheckboxButton-state-disabled)
		):where(:has(> .MyCheckboxButton-control:focus-visible), .MyCheckboxButton-state-focus-visible) {
		background: var(--color-red-02);
		border-color: var(--color-red-06);
		color: var(--color-red-09);
	}

	.MyCheckboxButton.MyButton-variant-outline_destructive:not(
			:is(.MyButton-state-disabled, .MyCheckboxButton-state-disabled)
		):active {
		background: var(--color-red-02);
		border-color: var(--color-red-07);
		color: var(--color-red-10);
	}

	.MyCheckboxButton-control {
		position: absolute;
		inset: 0 auto auto 0;

		margin: 0;
		width: 1px;
		height: 1px;

		filter: opacity(0);
		pointer-events: none;
	}

	.MyCheckboxButton-box {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: none;

		width: 16px;
		height: 16px;
		border: 1px solid currentColor;
		border-radius: 4px;

		margin-right: 4px;

		background: var(--color-base-1-04);

		transition:
			background-color 0.1s linear,
			border-color 0.1s linear;
	}

	.MyCheckboxButton:where(:has(> .MyCheckboxButton-control:checked), .MyCheckboxButton-state-checked)
		.MyCheckboxButton-box {
		background: currentColor;
		border-color: currentColor;
	}

	.MyCheckboxButton-check {
		width: 14px;
		height: 14px;

		color: var(--color-base-1-01);

		filter: opacity(0);
		visibility: hidden;
		transform: scale(0);

		transition: transform 0.15s linear;
	}

	.MyCheckboxButton:where(:has(> .MyCheckboxButton-control:checked), .MyCheckboxButton-state-checked)
		.MyCheckboxButton-check {
		filter: opacity(1);
		visibility: visible;
		transform: scale(1);
	}
	/* #endregion root */
}
