@layer common_components {
	/* #region list */
	.MyInteractiveList {
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		gap: 4px;

		margin: 0;

		list-style: none;
	}
	/* #endregion list */

	/* #region item */
	.MyInteractiveListItem {
		box-sizing: border-box;

		min-width: 0;

		border-radius: 8px;

		color: var(--color-fg-08);

		list-style: none;

		transition:
			background-color 0.15s ease,
			color 0.15s ease;

		&:has(> .MyPrimaryAction[data-selected]) {
			background: var(--color-base-1-05);
			color: var(--color-fg-09);
		}

		&:has(> .MyPrimaryAction:hover) {
			background: var(--color-base-1-06);
			color: var(--color-fg-11);
		}

		&:has(> .MyPrimaryAction:focus-visible) {
			background: var(--color-base-1-06);
			color: var(--color-fg-11);
		}
	}
	/* #endregion item */
}
