@layer common_components {
	/* #region list */
	.MyInteractiveList {
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		gap: 4px;

		margin: 0;

		list-style: none;
	}
	/* #endregion list */

	/* #region item */
	.MyInteractiveListItem {
		box-sizing: border-box;

		min-width: 0;

		border-radius: 8px;

		color: var(--color-fg-08);

		list-style: none;

		transition:
			background-color 0.15s ease,
			color 0.15s ease;
	}
	/* #endregion item */
}
