@layer common_components {
	/* #region list */
	.MyInteractiveList {
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		gap: 4px;

		margin: 0;

		list-style: none;
	}
	/* #endregion list */

	/* #region item */
	.MyInteractiveListItem {
		box-sizing: border-box;

		min-width: 0;

		border-radius: 8px;
		border: 1px solid transparent;

		color: inherit;

		list-style: none;

		transition: background-color 0.15s ease-in-out;

		&:focus-within {
			border-color: var(--color-fg-03);

			@media (prefers-color-scheme: dark) {
				border-color: var(--color-fg-10);
			}
		}

		&:hover {
			background-color: var(--color-base-alt-2-12);

			@media (prefers-color-scheme: dark) {
				background-color: var(--color-base-alt-1-09);
			}
		}

		&[data-active="true"] {
			background-color: var(--color-base-alt-2-12);
			border-color: var(--color-fg-04);

			&:hover {
				background-color: var(--color-base-alt-2-12);
			}

			@media (prefers-color-scheme: dark) {
				background-color: var(--color-base-alt-1-07);
				border-color: var(--color-fg-07);

				&:hover {
					background-color: var(--color-base-alt-2-07);
				}
			}

			&:focus-within {
				border-color: var(--color-fg-03);

				@media (prefers-color-scheme: dark) {
					border-color: var(--color-fg-10);
				}
			}
		}
	}
	/* #endregion item */
}
