@layer common_components {
	/* #region root */
	.MyInput {
		contain: content;
	}
	/* #endregion root */

	/* #region label */
	.MyInputLabel {
		display: block;

		font-size: 0.875rem;
		font-weight: 500;

		margin-bottom: 12px;
	}
	/* #endregion label */

	/* #region helper text */
	.MyInputHelperText {
		display: block;
		font-size: 0.75rem;
		color: var(--muted-foreground);
		margin-top: 12px;
	}
	/* #endregion helper text */

	/* #region icon */
	.MyInputIcon {
		color: var(--muted-foreground);
	}
	/* #endregion icon */

	/* #region box */
	.MyInputBox {
		position: absolute;
		z-index: -1;
		inset: 0;

		width: 100%;
		height: 100%;

		pointer-events: none;

		background: var(--color-base-1-05);

		border: 2px solid var(--color-fg-01);
		border-radius: 6px;

		&:has(.MyInputControl:focus-visible, .MyInputTextAreaControl:focus-visible) {
			border-color: var(--color-fg-12);
		}

		.MyInput-variant-surface & {
			background: var(--color-base-1-01);
		}

		.MyInput-variant-transparent & {
			background: transparent;
		}

		.MyInput:has([aria-invalid="true"], :user-invalid) & {
			border-color: var(--color-red-06);
			box-shadow: 0 0 0 3px oklch(from var(--color-red-06) l c h / 0.2);
		}
	}
	/* #endregion box */

	/* #region area */
	.MyInputArea {
		position: relative;

		display: flex;
		align-items: center;
		gap: 12px;

		width: 100%;
		min-height: 36px;

		padding: 4px 12px;

		cursor: text;
	}
	/* #endregion area */

	/* #region control */
	.MyInputControl,
	.MyInputTextAreaControl {
		position: relative;

		min-width: 0;
		width: 100%;
		border-radius: 6px;

		background: transparent;
		border: none;

		color: var(--color-fg-11);
		font-size: 1rem;
		line-height: 1.5;

		outline: none;

		/* Disabled */
		&:disabled {
			pointer-events: none;
			cursor: not-allowed;
			opacity: 0.5;
		}

		/* Placeholder */
		&::placeholder {
			color: var(--color-fg-07);
		}

		/* File button */
		&::file-selector-button {
			/*
			The `size of the input area` less the `padding`.
			36px - 8px
			*/
			height: 28px;
			margin-right: 12px;
			border: 0;
			background: transparent;
			font-size: 0.875rem;
			font-weight: 500;
			color: inherit;
		}
	}

	.MyInputControl {
		/*
		The `size of InputArea` less the `padding`.
		36px - 8px
		*/
		height: 28px;
	}
	/* #endregion control */

	/* #region textarea control */
	.MyInputTextAreaControl {
		height: auto;
		/*
		The `size of InputArea` less the `padding`.
		36px - 8px
		*/
		min-height: 28px;
		resize: vertical;
	}
	/* #endregion textarea control */
}
