@layer common_components {
	.MyLinkSurface-variant-default {
		background: transparent;

		color: var(--color-accent-06);
		text-underline-offset: 4px;

		&:hover {
			text-decoration: underline;
		}
	}
}
