@layer common_components {
	.MyMenuPopover {
		box-sizing: border-box;
		position: relative;

		min-width: 200px;
		max-height: 300px;

		border-radius: 6px;
		border: 1px solid var(--color-base-1-10);

		background: var(--color-base-1-04);
		color: var(--color-fg-11);

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

		contain: content;

		&:focus-visible {
			outline: 2px solid var(--color-base-2-06);
		}
	}

	.MyMenuPopoverScrollableArea {
		max-height: inherit;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.MyMenuPopoverContent {
		padding: 4px;
	}

	.MyMenuItem {
		box-sizing: border-box;
		position: relative;

		display: flex;
		align-items: center;
		gap: 8px;

		width: 100%;
		padding: 6px;
		border-radius: 4px;

		background: var(--color-base-1-04);
		color: var(--color-fg-11);

		font-size: 0.875rem;
		line-height: 1.25;

		cursor: pointer;
		outline: none;
		user-select: none;

		transition:
			background-color 150ms ease,
			color 150ms ease;

		&[aria-disabled="true"] {
			pointer-events: none;
			opacity: 0.5;
		}

		&[aria-selected="true"] {
			background: var(--color-base-1-06);
			color: var(--color-fg-12);
		}

		&[data-active-item] {
			background: var(--color-base-1-07);
			color: var(--color-fg-12);
		}
	}

	.MyMenuItem-variant-destructive {
		background: var(--color-base-1-04);
		color: var(--color-red-09);

		&[aria-selected="true"] {
			background: var(--color-red-02);
			color: var(--color-red-09);
		}

		&[data-active-item] {
			background: var(--color-red-03);
			color: var(--color-red-10);
		}
	}

	.MyMenuItemContent {
		display: grid;
		grid-template: auto / auto 1fr;
		row-gap: 4px;
		align-items: center;
		justify-content: start;

		flex: 1;
	}

	.MyMenuItemContentPrimary {
		grid-column: 2;
		grid-row: 1;

		height: 18px;
	}

	.MyMenuItemContentSecondary {
		grid-column: 2;
		grid-row: 2;

		font-size: 0.75rem;
		color: var(--color-fg-09);
	}

	.MyMenuItemContentIcon.MyIcon {
		grid-column: 1;
		grid-row: 1 / -1;

		width: 16px;
		height: 16px;

		margin-right: 8px;
	}

	.MyMenuItemSubMenuIndicator.MyIcon {
		width: 16px;
		height: 16px;
	}

	.MyMenuItemsGroupText {
		cursor: default;

		padding: 4px 12px;

		font-size: 0.85rem;
		font-weight: 500;

		color: var(--color-fg-08);

		min-height: 30px;
	}

	.MyMenuItemsGroup-separator {
		margin-top: 8px;
		border-top: 1px solid var(--color-base-1-10);
		padding-top: 8px;
	}
}
