@layer common_components {
	/* #region panel group */
	.MyPanelGroup {
		min-width: 0;
		min-height: 0;
	}
	/* #endregion panel group */

	/* #region panel */
	.MyPanel {
		min-width: 0;
		min-height: 0;

		display: flex;
		flex-direction: column;

		contain: inline-size layout style;
	}
	/* #endregion panel */

	/* #region background */
	.MyPanelInfiniteBackground {
		/*
		Set a container to support position absolute and
		ensure that the arbitrarily large height of the background
		does not affect the ancestor's scrollable area size.
		*/
		contain: layout style size;
		position: relative;

		/* Ensure content is visible */
		z-index: -1;

		&::before {
			content: "";
			display: block;
			position: absolute;

			/*
			Negative inset matches the padding of the container while
			allows the element to grow vertically.
			*/
			inset: 0 0 auto 0;

			background-color: var(--color-base-1-03);
			pointer-events: none;

			/*
			Arbitrarily large height to ensure the background 
			spans across the whole page height.
			*/
			height: 9999px;
		}
	}
	/* #endregion background */

	/* #region handle grip */
	.MyPanelResizeHandleGrip {
		position: sticky;
		flex: 0 0 auto;

		display: flex;
		justify-content: center;
		align-items: center;

		color: var(--color-fg-09);

		transition: color 0.1s linear;
	}

	.MyPanelResizeHandleGrip-pill {
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 999px;
		outline: none;
		background-color: var(--color-base-alt-1-09);
		box-shadow:
			inset 0 1px 1px oklch(1 0 0 / 0.08),
			0 0px 1px oklch(0 0 0 / 0.45),
			0 1px 2px oklch(0 0 0 / 0.2);

		pointer-events: none;

		transition:
			background-color 0.1s linear,
			box-shadow 0.1s linear;
	}

	.MyPanelResizeHandleGrip-icon {
		width: 14px;
		height: 14px;

		pointer-events: none;
	}

	.MyPanelResizeHandleGrip-orientation-vertical {
		top: calc(50dvh - 26px);

		width: 24px;
		height: 52px;
	}

	.MyPanelResizeHandleGrip-orientation-vertical .MyPanelResizeHandleGrip-pill {
		width: 16px;
		height: 44px;
	}

	.MyPanelResizeHandleGrip-orientation-horizontal {
		left: calc(50dvw - 26px);

		width: 52px;
		height: 24px;
	}

	.MyPanelResizeHandleGrip-orientation-horizontal .MyPanelResizeHandleGrip-pill {
		width: 44px;
		height: 16px;
	}

	.MyPanelResizeHandle[data-resize-handle-state="hover"] .MyPanelResizeHandleGrip,
	.MyPanelResizeHandle:has(.MyPanelResizeHandleGrip:hover) .MyPanelResizeHandleGrip {
		color: var(--color-fg-10);
	}

	.MyPanelResizeHandle[data-resize-handle-state="hover"] .MyPanelResizeHandleGrip-pill,
	.MyPanelResizeHandle:has(.MyPanelResizeHandleGrip:hover) .MyPanelResizeHandleGrip-pill {
		background-color: var(--color-base-alt-1-11);
		box-shadow:
			inset 0 1px 1px oklch(1 0 0 / 0.12),
			0 0px 1px oklch(0 0 0 / 0.5),
			0 1px 2px oklch(0 0.4 30 / 0.25);
	}

	.MyPanelResizeHandle[data-resize-handle-state="drag"] .MyPanelResizeHandleGrip,
	.MyPanelResizeHandle:active .MyPanelResizeHandleGrip,
	.MyPanelResizeHandle:has(.MyPanelResizeHandleGrip:active) .MyPanelResizeHandleGrip {
		color: var(--color-fg-12);
	}

	.MyPanelResizeHandle[data-resize-handle-state="drag"] .MyPanelResizeHandleGrip-pill,
	.MyPanelResizeHandle:active .MyPanelResizeHandleGrip-pill,
	.MyPanelResizeHandle:has(.MyPanelResizeHandleGrip:active) .MyPanelResizeHandleGrip-pill {
		background-color: var(--color-base-alt-1-12);
	}
	/* #endregion handle grip */

	/* #region handle */
	.MyPanelResizeHandleContainer {
		contain: layout style size;

		position: relative;
		z-index: 1;
	}

	.MyPanelResizeHandleContainer-orientation-vertical {
		flex: 0 0 2px;
	}

	.MyPanelResizeHandleContainer-orientation-horizontal {
		flex: 0 0 2px;
	}

	.MyPanelResizeHandle {
		contain: layout style;

		position: absolute;
		z-index: 1;

		outline: none;

		&::before {
			content: "";
			position: absolute;

			pointer-events: none;

			transition:
				background-color 0.1s linear,
				height 0.1s linear,
				width 0.1s linear;
		}
	}

	.MyPanelResizeHandle-orientation-vertical {
		left: 50%;
		top: 0;

		height: 9999px;
		width: 8px;

		display: flex;
		justify-content: center;

		cursor: ew-resize;

		transform: translateX(-50%);

		&::before {
			top: 0;
			bottom: 0;
			left: 50%;

			width: 2px;

			transform: translateX(-50%);
		}

		&:not([data-resize-handle-state="drag"], [data-resize-handle-state="hover"])::before {
			background-color: var(--color-base-alt-1-07);
		}

		&[data-resize-handle-state="hover"]::before,
		&:has(.MyPanelResizeHandleGrip:hover)::before {
			width: 8px;

			background-color: var(--color-base-alt-1-10);
		}

		&:has(.MyPanelResizeHandleGrip:hover) {
			width: 24px;
		}

		&[data-resize-handle-state="drag"]::before,
		&:active::before,
		&:has(.MyPanelResizeHandleGrip:active)::before {
			width: 8px;

			background-color: var(--color-base-alt-2-10);
		}

		&:focus-visible::before {
			outline: 2px solid var(--color-fg-12);
			outline-offset: -4px;
		}
	}

	.MyPanelResizeHandle-orientation-horizontal {
		left: 0;
		top: 50%;

		width: 9999px;
		height: 8px;

		display: flex;
		align-items: center;

		cursor: ns-resize;

		transform: translateY(-50%);

		&::before {
			right: 0;
			left: 0;
			top: 50%;

			height: 2px;

			transform: translateY(-50%);
		}

		&:not([data-resize-handle-state="drag"], [data-resize-handle-state="hover"])::before {
			background-color: var(--color-base-alt-1-07);
		}

		&[data-resize-handle-state="hover"]::before,
		&:has(.MyPanelResizeHandleGrip:hover)::before {
			height: 8px;

			background-color: var(--color-base-alt-1-10);
		}

		&:has(.MyPanelResizeHandleGrip:hover) {
			height: 24px;
		}

		&[data-resize-handle-state="drag"]::before,
		&:active::before,
		&:has(.MyPanelResizeHandleGrip:active)::before {
			height: 8px;

			background-color: var(--color-base-alt-2-10);
		}

		&:focus-visible::before {
			outline: 2px solid var(--color-fg-12);
			outline-offset: -4px;
		}
	}
	/* #endregion handle */
}
