@layer common_components {
	/* #region root */
	.MySwitch {
		position: relative;

		display: grid;
		align-items: center;
		justify-content: center;

		flex-shrink: 0;

		vertical-align: middle;
		contain: content;
	}
	/* #endregion root */

	/* #region track */
	.MySwitchTrack {
		grid-row: 1;
		grid-column: 1;

		width: 36px;
		height: 24px;

		contain: strict;

		border-radius: 999px;
		border: 2px solid transparent;
		outline: 2px solid transparent;
		outline-offset: -2px;

		background: var(--color-base-1-04);

		pointer-events: none;

		transition:
			background-color 0.15s ease,
			border-color 0.15s ease,
			outline-color 0.15s ease;

		&:has(+ .MySwitchControl:not(:disabled):hover) {
			background: var(--color-base-1-05);
			border-color: var(--color-fg-04);
		}

		&:has(+ .MySwitchControl:focus-visible) {
			outline-color: var(--color-fg-12);
		}

		&:has(+ .MySwitchControl:checked) {
			background: var(--color-accent-03);
			border-color: var(--color-accent-04);
		}

		&:has(+ .MySwitchControl:checked:not(:disabled):hover) {
			background: var(--color-accent-04);
			border-color: var(--color-accent-05);
		}

		&:has(+ .MySwitchControl:disabled) {
			background: var(--color-base-1-03);
			border-color: var(--color-fg-02);
		}
	}
	/* #endregion track */

	/* #region thumb */
	.MySwitchThumb {
		width: 20px;
		height: 20px;
		border-radius: 999px;

		border: 2px solid var(--color-fg-03);

		background: var(--color-fg-11);

		pointer-events: none;

		transform: translateX(0px);

		transition:
			transform 0.05s ease,
			background-color 0.1s ease;

		.MySwitchTrack:has(+ .MySwitchControl:checked) & {
			transform: translateX(12px);
			background: var(--color-fg-12);
		}

		.MySwitchTrack:has(+ .MySwitchControl:disabled) & {
			background: var(--color-fg-06);
		}
	}
	/* #endregion thumb */

	/* #region control */
	.MySwitchControl {
		grid-row: 1;
		grid-column: 1;

		margin: 0;
		filter: opacity(0);

		height: 36px;
		width: 36px;

		cursor: pointer;

		border: 2px solid var(--color-fg-03);
		outline: 2px solid transparent;
		outline-offset: -2px;

		&:disabled {
			cursor: default;
		}
	}
	/* #endregion control */
}
