@layer common_components {
	/* #region root */
	/* #endregion root */

	/* #region label */
	.MySelectLabel {
		padding: 8px 8px 4px 8px;
		font-size: 0.75em;
		font-weight: 500;
		color: var(--color-fg-07);

		@media (prefers-color-scheme: dark) {
			color: var(--color-fg-05);
		}
	}
	/* #endregion label */

	/* #region open indicator */
	.MySelectOpenIndicator.MyIcon {
		width: 16px;
		height: 16px;

		transition: transform 0.15s ease-in-out;

		/* Rotate open indicator when open */
		.MySelectTrigger[aria-expanded="true"] & {
			transform: rotate(-180deg);
		}
	}
	/* #endregion open indicator */

	/* #region popover */
	.MySelectPopover {
		box-sizing: border-box;
		position: relative;

		min-width: 200px;
		max-height: 300px;

		border-radius: 6px;
		border: 2px solid var(--color-fg-06);

		background: var(--color-base-1-04);
		color: var(--color-fg-11);

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

		contain: content;

		&:focus-visible {
			outline: 2px solid var(--color-base-2-06);
		}
	}

	/* #region popover scrollable area */
	.MySelectPopoverScrollableArea {
		max-height: inherit;
		overflow-x: hidden;
		overflow-y: auto;
	}
	/* #endregion popover scrollable area */

	/* #region popover content */
	.MySelectPopoverContent {
		padding: 4px;
	}
	/* #endregion popover content */
	/* #endregion popover */

	/* #region item */
	.MySelectItem {
		box-sizing: border-box;
		position: relative;

		display: flex;
		align-items: center;
		gap: 8px;

		width: 100%;
		padding: 6px;
		border-radius: 4px;

		background: var(--color-base-1-04);
		color: var(--color-fg-08);

		font-size: 0.875rem;
		line-height: 1.25;

		cursor: pointer;
		outline: none;
		user-select: none;

		transition:
			background-color 0.15s ease,
			color 0.15s ease;

		&[aria-disabled="true"] {
			pointer-events: none;
			opacity: 0.5;
		}

		&[aria-selected="true"] {
			background: var(--color-base-1-05);
			color: var(--color-fg-09);
		}

		&[data-active-item] {
			background: var(--color-base-1-06);
			color: var(--color-fg-11);
		}
	}

	/* #region item indicator */
	.MySelectItemIndicator.MyIcon {
		width: 16px;
		height: 16px;
	}
	/* #endregion item indicator */

	/* #region item content */
	.MySelectItemContent {
		display: grid;
		grid-template: auto / auto 1fr;
		row-gap: 4px;
		align-items: center;
		justify-content: start;

		flex: 1;
	}

	/* #region item content primary */
	.MySelectItemContentPrimary {
		grid-column: 2;
		grid-row: 1;

		height: 18px;
	}
	/* #endregion item content primary */

	/* #region item content secondary */
	.MySelectItemContentSecondary {
		grid-column: 2;
		grid-row: 2;

		font-size: 0.75rem;
		color: var(--color-fg-09);
	}
	/* #endregion item content secondary */

	/* #region item content icon */
	.MySelectItemContentIcon.MyIcon {
		grid-column: 1;
		grid-row: 1 / -1;

		width: 16px;
		height: 16px;

		margin-right: 8px;
	}
	/* #endregion item content icon */
	/* #endregion item content */
	/* #endregion item */

	/* #region items group */
	.MySelectItemsGroup-separator {
		margin-top: 8px;
		border-top: 1px solid var(--color-base-1-10);
		padding-top: 8px;
	}

	/* #region items group text */
	.MySelectItemsGroupText {
		cursor: default;

		padding: 4px 12px;

		font-size: 0.85rem;
		font-weight: 500;

		color: var(--color-fg-08);

		min-height: 30px;
	}
	/* #endregion items group text */
	/* #endregion items group */
}
