@layer common_components {
	.MySelectOpenIndicator.MyIcon {
		width: 16px;
		height: 16px;

		transition: transform 0.15s ease-in-out;

		/* Rotate open indicator when open */
		.MySelectTrigger[aria-expanded="true"] & {
			transform: rotate(-180deg);
		}
	}

	.MySelectPopover {
		box-sizing: border-box;
		position: relative;

		max-height: 300px;

		border-radius: 6px;
		border: 1px solid var(--color-base-1-10);

		background: var(--color-base-1-04);
		color: var(--color-fg-11);

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

		contain: content;

		&:focus-visible {
			outline: 2px solid var(--color-base-2-06);
		}
	}

	.MySelectPopoverScrollableArea {
		max-height: inherit;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.MySelectPopoverContent {
		padding: 4px;
	}

	.MySelectItem {
		box-sizing: border-box;
		position: relative;

		display: flex;
		align-items: center;
		gap: 8px;

		width: 100%;
		padding: 6px;
		border-radius: 4px;

		font-size: 0.875rem;
		line-height: 1.25;

		cursor: pointer;
		outline: none;
		user-select: none;

		transition:
			background-color 150ms ease,
			color 150ms ease;

		&[aria-disabled="true"] {
			pointer-events: none;
			opacity: 0.5;
		}

		&[aria-selected="true"] {
			background: var(--color-base-1-06);
			color: var(--color-fg-12);
		}

		&[data-active-item] {
			background: var(--color-base-1-07);
			color: var(--color-fg-12);
		}
	}

	.MySelectItemIndicator.MyIcon {
		width: 16px;
		height: 16px;
	}

	/* Select item content grid */
	.MySelectItemContent {
		display: grid;
		grid-template: auto / auto 1fr;
		row-gap: 4px;
		align-items: center;
		justify-content: start;

		flex: 1;
	}

	.MySelectItemContentPrimary {
		grid-column: 2;
		grid-row: 1;

		height: 18px;
	}

	.MySelectItemContentSecondary {
		grid-column: 2;
		grid-row: 2;

		font-size: 0.75rem;
		color: var(--color-fg-09);
	}

	.MySelectItemContentIcon.MyIcon {
		grid-column: 1;
		grid-row: 1 / -1;

		width: 16px;
		height: 16px;

		margin-right: 8px;
	}

	/* Select label */
	.MySelectLabel {
		padding: 8px 8px 4px 8px;
		font-size: 0.75em;
		font-weight: 500;
		color: var(--gray-600);

		@media (prefers-color-scheme: dark) {
			color: var(--gray-400);
		}
	}
}
