@layer common_components {
	/* #region search */
	.MySearchSelectSearch {
		position: sticky;
		top: 0;
		z-index: 1;

		padding: 4px;
		margin: -4px -4px 4px -4px;

		background: var(--color-base-1-04);
		border-bottom: 1px solid var(--color-base-1-10);
	}
	/* #endregion search */
}
