@layer common_components {
	.MyTooltipContent {
		box-sizing: border-box;
		position: relative;

		max-width: 320px;

		border-radius: 6px;
		border: 1px solid var(--color-base-1-10);

		background: var(--color-base-1-04);
		color: var(--color-fg-11);

		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

		padding: 6px 8px;

		font-size: 0.75rem;
		line-height: 1.25;

		contain: content;
		z-index: 50;
	}

	.MyTooltipArrow {
		box-sizing: border-box;

		width: 10px;
		height: 10px;

		border-radius: 2px;

		background: var(--color-base-1-04);

		transform: rotate(45deg);
	}
}
