@layer components {
	/* #region root */
	.PageEditorPlainText {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	/* #endregion root */

	/* #region toolbar */
	.PageEditorPlainTextToolbar {
		height: 44px;
		background: var(--color-base-alt-1-05);

		contain: inline-size layout style;

		position: relative;
		z-index: 1;
	}

	.PageEditorPlainTextToolbar-scrollable-area {
		gap: 4px;

		flex-direction: row;
		align-items: center;
		display: flex;

		padding: 4px 8px;

		overflow-x: auto;
		overflow-y: hidden;
		contain: content;

		scrollbar-width: initial;

		min-width: 0;
	}

	.PageEditorPlainTextToolbar-button {
		gap: 4px;
	}

	.PageEditorPlainTextToolbar-icon {
		width: 20px;
		height: 20px;
	}
	/* #endregion toolbar */

	/* #region editor */
	.PageEditorPlainText-editor {
		height: 100%;
		flex: 1;
		contain: strict;
	}
	/* #endregion editor */

	/* #region panels */
	.PageEditorPlainText-panels-group {
		flex: 1;
		min-height: 0;
	}

	.PageEditorPlainText-editor-panel {
		min-width: 0;
		min-height: 0;

		display: flex;
		flex-direction: column;
	}
	/* #endregion panels */

	/* #region resize handle */
	.PageEditorPlainText-panel-resize-handle-container {
		/*
		The container makes sure that the even though the handle
		has an arbitrarily large height, it will not affect the ancestor's
		scrollable area size.
		*/
		contain: layout style size;
		width: 0;
		z-index: 2;

		display: flex;
		justify-content: center;
	}

	.PageEditorPlainText-panel-resize-handle {
		/*
		Since the container size depends exclusively on the content of the editor,
		to ensure the handle spans across the whole page height,
		we set an arbitrarily large height to handle.
		*/
		height: 9999px;
		width: 24px;

		display: flex;
		justify-content: center;

		position: absolute;

		/* Set a container to support position absolute children */
		contain: layout style;
		touch-action: none;

		background-color: transparent;

		&[data-resize-handle-state="drag"] {
			background-color: var(--color-base-alt-2-10);
		}

		&[data-resize-handle-state="hover"] {
			background-color: var(--color-base-alt-1-07);
		}

		&::before {
			content: "";
			position: absolute;
			height: 100%;

			width: 2px;
		}

		&:not([data-resize-handle-state="drag"], [data-resize-handle-state="hover"])::before {
			background-color: var(--color-base-alt-1-07);
		}
	}
	/* #endregion resize handle */

	/* #region sidebar */
	.PageEditorPlainTextSidebar {
		display: flex;
		flex-direction: column;
	}

	.PageEditorPlainTextSidebar-toolbar {
		height: 44px;
		background: var(--color-base-alt-1-05);

		contain: inline-size layout style;

		position: sticky;
		top: 0;
		z-index: 1;
	}

	.PageEditorPlainTextSidebar-toolbar-scrollable-area {
		min-height: 44px;
		max-height: calc(44px + var(--app-scrollbar-w));

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4px;

		padding: 4px 16px;

		overflow: auto hidden;
		contain: content;

		min-width: 0;
	}

	.PageEditorPlainTextSidebar-tabs-list {
		width: 500px;
	}

	.PageEditorPlainTextSidebar-tabs-panels {
		flex: 1;
	}

	.PageEditorPlainTextSidebar-panel {
		padding: 16px;
	}

	.PageEditorPlainTextSidebar-agent {
		color: var(--color-fg-07);
	}

	.PageEditorPlainTextSidebar-background {
		/*
		Set a container to support position absolute and
		ensure that the arbitrarily large height of the background
		does not affect the ancestor's scrollable area size.
		*/
		contain: layout style size;
		z-index: -1;

		&:before {
			content: "";
			display: block;
			position: absolute;

			/*
			Negative inset matches the padding of the container while
			allows the element to grow vertically.
			*/
			inset: 0 0 auto 0;

			background-color: var(--color-base-1-04);
			pointer-events: none;

			/*
			Arbitrarily large height to ensure the background 
			spans across the whole page height.
			*/
			height: 9999px;
		}
	}
	/* #endregion sidebar */

	/* #region comments sidebar */
	.PageEditorPlainTextCommentsSidebar {
		box-sizing: border-box;
		height: 100%;

		display: flex;
		flex-direction: column;
		gap: 12px;

		padding: 12px;

		overflow: auto;
		contain: content;
	}

	.PageEditorPlainTextCommentsSidebar-header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		gap: 8px;
	}

	.PageEditorPlainTextCommentsSidebar-filter {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.PageEditorPlainTextCommentsSidebar-filter-mode {
		display: flex;
		gap: 4px;
	}

	.PageEditorPlainTextCommentsSidebar-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.PageEditorPlainTextCommentsSidebar-empty {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-fg-07);
		height: 49px;
	}
	/* #endregion comments sidebar */
}
