@layer components {
	.PageEditorPlainTextSkeleton {
		position: relative;
		display: flex;
		height: 100%;
		flex-direction: column;
	}

	.PageEditorPlainTextSkeleton-toolbar {
		height: 48px;

		display: flex;
		align-items: center;
		gap: 4px;

		border-bottom: 1px solid var(--color-fg-02);

		padding: 4px 18px;
	}

	.PageEditorPlainTextSkeleton-toolbar-item,
	.PageEditorPlainTextSkeleton-line {
		border-radius: 4px;
		background: var(--color-base-1-05);
		animation: PageEditorPlainTextSkeleton-pulse 2s ease-in infinite;
	}

	.PageEditorPlainTextSkeleton-toolbar-item {
		height: 30px;

		&:nth-child(1) {
			width: 80px;
		}

		&:nth-child(2) {
			width: 80px;
		}

		&:nth-child(3) {
			width: 36px;
		}
	}

	.PageEditorPlainTextSkeleton-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 3px;

		width: 100%;
		margin: auto;
		padding: 64px;
	}

	.PageEditorPlainTextSkeleton-line {
		height: 19px;

		&:nth-child(1) {
			width: 40ch;
		}

		&:nth-child(2) {
			width: 80%;
		}

		&:nth-child(3) {
			width: 85%;
		}

		&:nth-child(4) {
			width: 86%;
		}

		&:nth-child(5) {
			width: 80%;
		}

		&:nth-child(6) {
			width: 85%;
		}

		&:nth-child(7) {
			width: 90%;
		}

		&:nth-child(8) {
			width: 0%;
		}

		&:nth-child(9) {
			width: 60%;
		}

		&:nth-child(10) {
			width: 70%;
		}

		&:nth-child(11) {
			width: 0%;
		}

		&:nth-child(12) {
			width: 30ch;
		}
	}

	@keyframes PageEditorPlainTextSkeleton-pulse {
		0%,
		100% {
			opacity: 1;
		}

		50% {
			opacity: 0.5;
		}
	}
}
