@layer common_components {
	.TextMonospaceBlock {
		box-sizing: border-box;

		display: block;

		width: 100%;
		margin: 0;
		padding: 12px 16px;

		border-radius: 6px;
		border: 1px solid var(--color-base-1-06);

		background: var(--color-base-1-03);
		color: var(--color-fg-10);

		font-size: 0.75rem;
		line-height: 1.4;

		white-space: pre-wrap;

		overflow: auto;
		max-height: var(--TextMonospaceBlock-max-height);
	}
}
