@layer components {
	/* #region root */
	.PageEditorRichTextSidebar {
		display: flex;
		flex-direction: column;
	}

	.PageEditorRichTextSidebar-toolbar {
		height: 44px;
		background: var(--color-base-1-04);
		border-bottom: 1px solid var(--color-fg-02);

		contain: size layout style;

		position: sticky;
		top: 0;
		z-index: 1;
	}

	.PageEditorRichTextSidebar-toolbar-scrollable-area {
		min-height: 44px;
		max-height: calc(44px + var(--app-scrollbar-w));

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4px;

		padding: 4px 16px;

		overflow: auto hidden;
		contain: content;

		min-width: 0;
	}

	.PageEditorRichTextSidebar-tabs-panels {
		flex: 1;
		min-height: 0;
	}

	.PageEditorRichTextSidebar-panel {
		min-height: 100%;

		display: flex;
		flex-direction: column;
	}

	.PageEditorRichTextSidebar-panel-empty {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-fg-06);
	}

	.PageEditorRichTextSidebar-comments-host {
		flex: 1;
		min-height: 0;
		display: flex;
		flex-direction: column;
	}

	.PageEditorRichTextSidebar-background {
		/*
		Set a container to support position absolute and
		ensure that the arbitrarily large height of the background
		does not affect the ancestor's scrollable area size.
		*/
		contain: layout style size;

		/* Ensure content is visible */
		z-index: -1;

		&:before {
			content: "";
			display: block;
			position: absolute;

			/*
			Negative inset matches the padding of the container while
			allows the element to grow vertically.
			*/
			inset: 0 0 auto 0;

			background-color: var(--color-base-1-03);
			pointer-events: none;

			/*
			Arbitrarily large height to ensure the background 
			spans across the whole page height.
			*/
			height: 9999px;
		}
	}
	/* #endregion root */
}
