@layer components {
	/* #region folder create node modal */
	.FileNodeViewFolderCreateNodeModal {
		width: min(92vw, 420px);
	}

	.FileNodeViewFolderCreateNodeModal-form {
		display: flex;
		flex-direction: column;
	}

	.FileNodeViewFolderCreateNodeModal-field {
		padding: 20px;
	}

	.FileNodeViewFolderCreateNodeModal-validation {
		min-height: 1.25rem;
	}
	/* #endregion folder create node modal */
}
