@reference "@/app.css";

@layer components {
	/* #region root */
	.PagesSidebar {
		height: 100%;

		display: flex;
		flex-direction: column;
		color: var(--color-fg-08);

		&.MySidebar-state-closed .PagesSidebar {
			filter: opacity(0);

			transition: filter 0.1s ease-in-out;
		}

		&.MySidebar-state-expanded .PagesSidebar {
			filter: opacity(1);

			transition: filter 0.1s 0.15s ease-in-out;
		}
	}

	.PagesSidebar-header {
		border-bottom: 1px solid hsl(var(--border));
	}

	.PagesSidebar-actions {
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		gap: 8px;
		height: 36px;
	}

	.PagesSidebar-actions-group {
		display: flex;
		gap: 4px;
	}

	.PagesSidebar-actions-icon-button {
		width: 36px;
		height: 36px;
	}

	.PagesSidebar-action-new-page {
		flex: 1;
		justify-content: center;
		gap: 8px;
	}

	.PagesSidebar-title {
		font-size: 1.125rem;
		font-weight: 600;

		padding: 4px;
	}

	.PagesSidebar-close-button {
		height: 32px;
		width: 32px;
	}

	.PagesSidebar-archive-toggle {
		align-self: start;
	}

	.PagesSidebar-hamburger-button {
		height: 32px;
		width: 32px;

		@media (min-width: 1024px) {
			display: none;
		}
	}

	.PagesSidebar-top-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.PagesSidebar-top-section-left {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.PagesSidebar-multi-selection-counter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		justify-content: end;
		gap: 8px;
		flex: 1;
	}

	.PagesSidebar-multi-selection-counter-label {
		font-weight: 500;
		font-size: 14px;
	}

	.PagesSidebar-content {
		padding: 0;
	}
	/* #endregion root */

	/* #region search */
	.PagesSidebarSearch {
		width: 100%;
	}
	/* #endregion search */

	/* #region tree */
	.PagesSidebarTree {
		min-height: 100%;
		padding: 8px;
	}

	.PagesSidebarTree-empty-state {
		padding: 8px 12px;
		color: var(--color-fg-07);
		font-size: 0.875rem;
	}

	.PagesSidebarTree:not(:has(.PagesSidebarTreeItemTitle-input:focus)) {
		.PagesSidebarTreeItem.PagesSidebarTreeItem-content-navigated {
			font-weight: 500;
			color: var(--color-fg-10);
		}

		&:focus-within {
			.PagesSidebarTreeItem.PagesSidebarTreeItem-content-navigated {
				font-weight: 500;
				color: var(--color-fg-11);
			}
		}
	}

	.PagesSidebarTree-dragging {
		.PagesSidebarTreeItem {
			pointer-events: none;

			.PagesSidebarTreeItemPrimaryAction {
				pointer-events: auto;

				> * {
					pointer-events: none;
				}
			}
		}
	}

	.PagesSidebarTree-dragging-root-target {
		background-color: var(--color-sidebar-accent);
		box-shadow: inset 0 0 0 1px var(--color-sidebar-accent-foreground);
	}
	/* #endregion tree */

	/* #region tree item */
	.PagesSidebarTreeItem {
		position: relative;
		height: 44px;
		color: var(--color-fg-08);

		content-visibility: auto;
		contain-intrinsic-height: auto 44px;

		background-image: repeating-linear-gradient(
			to right,
			var(--color-base-1-03) 0px 0px,
			var(--color-fg-02) 0px 2px,
			var(--color-base-1-03) 2px 12px
		);
		background-size: calc((var(--PagesSidebarTreeItem-content-depth)) * 12px) 100%;
		background-repeat: no-repeat;
		background-position: left top;

		&:not(:has(> .PagesSidebarTreeItemArrow)) {
			padding-left: calc(((var(--PagesSidebarTreeItem-content-depth) + 1) * 12px) + 28px);
		}

		&:has(> .PagesSidebarTreeItemArrow) {
			padding-left: calc(((var(--PagesSidebarTreeItem-content-depth) + 1) * 12px) - 12px);
		}

		&:not(.PagesSidebarTreeItem-content-placeholder) {
			display: grid;
			grid-template-columns: auto 1fr auto;
		}

		&.PagesSidebarTreeItem-content-placeholder {
			display: flex;
			gap: 8px;
			align-items: center;
		}

		&.PagesSidebarTreeItem-content-dragging-target > .PagesSidebarTreeItemPrimaryAction {
			border-style: dashed;
			border-color: var(--color-fg-09);
			background-color: var(--color-base-1-05);
		}

		&.PagesSidebarTreeItem-content-archived {
			text-decoration: line-through;
			color: var(--color-fg-06);
		}
	}

	.PagesSidebarTreeItem-content-placeholder {
		color: var(--color-fg-07);
		font-style: italic;
		cursor: default;
		user-select: none;
	}

	.PagesSidebarTreeItemMetaLabel {
		grid-row: 2;
		grid-column: 2;

		display: flex;
		align-items: center;
		padding-inline: 4px;

		height: 100%;
		min-width: 0; /* Allow shrinking */

		pointer-events: none;

		contain: content;
	}

	.PagesSidebarTreeItemMetaLabel-text {
		font-size: 0.75rem;
		line-height: 1rem;
		color: var(--muted-foreground);

		contain: content;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 0;
	}

	.PagesSidebarTreeItemActions {
		grid-row: 1 / 3;
		grid-column: 3;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	/* #endregion tree item */

	/* #region tree item primary action */
	.PagesSidebarTreeItemPrimaryAction {
		grid-row: 1 / 4;
		grid-column: 1 / 4;

		border-radius: 8px;

		outline: none;

		contain: strict;
	}
	/* #endregion tree item primary action */

	/* #region tree item secondary action */
	.PagesSidebarTreeItemSecondaryAction {
		display: inline-flex;
	}
	/* #endregion tree item secondary action */

	/* #region tree item secondary action create page */
	.PagesSidebarTreeItemSecondaryActionCreatePage {
		display: inline-flex;
	}
	/* #endregion tree item secondary action create page */

	/* #region tree item more action */
	.PagesSidebarTreeItemMoreAction {
		display: inline-flex;
	}
	/* #endregion tree item more action */

	/* #region tree item arrow */
	.PagesSidebarTreeItemArrow {
		grid-row: 1 / 3;
		grid-column: 1;

		place-content: center;

		contain: strict;

		place-self: center;
	}
	/* #endregion tree item arrow */

	/* #region tree item primary content */
	.PagesSidebarTreeItemPrimaryContent {
		grid-row: 1;
		grid-column: 2;

		display: flex;
		gap: 4px;
		align-items: center;

		font-size: 0.875rem;
		outline: none;

		min-width: 0;

		pointer-events: none;

		contain: content;
	}

	/* #endregion tree item primary content */

	/* #region tree item icon */
	.PagesSidebarTreeItemIcon {
		width: 16px;
		height: 16px;
	}
	/* #endregion tree item icon */

	/* #region tree item title */
	.PagesSidebarTreeItemTitle {
		display: flex;
		width: 100%;

		color: inherit;

		.MyInputBox {
			border-color: transparent;
		}

		&:has(.PagesSidebarTreeItemTitle-input:not([readonly])) {
			.MyInputBox {
				border-color: var(--color-fg-01);
			}
		}
	}

	.PagesSidebarTreeItemTitle-input {
		flex: 1;

		&[readonly] {
			pointer-events: none;
		}
	}
	/* #endregion tree item title */
}
