@reference "@/app.css";

@layer components {
	/* #region root */
	.PagesSidebar {
		height: 100%;

		display: flex;
		flex-direction: column;
		color: var(--color-fg-08);

		&.MySidebar-state-closed .PagesSidebar {
			filter: opacity(0);

			transition: filter 0.1s ease-in-out;
		}

		&.MySidebar-state-expanded .PagesSidebar {
			filter: opacity(1);

			transition: filter 0.1s 0.15s ease-in-out;
		}
	}

	.PagesSidebar-header {
		border-bottom: 1px solid hsl(var(--border));
	}

	.PagesSidebar-actions {
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		gap: 8px;
		height: 36px;
	}

	.PagesSidebar-actions-group {
		display: flex;
		gap: 4px;
	}

	.PagesSidebar-actions-icon-button {
		width: 36px;
		height: 36px;
	}

	.PagesSidebar-action-new-page {
		flex: 1;
		justify-content: center;
		gap: 8px;
	}

	.PagesSidebar-title {
		font-size: 1.125rem;
		font-weight: 600;

		padding: 4px;
	}

	.PagesSidebar-close-button {
		height: 32px;
		width: 32px;
	}

	.PagesSidebar-archive-toggle {
		align-self: start;
	}

	.PagesSidebar-hamburger-button {
		height: 32px;
		width: 32px;

		@media (min-width: 1024px) {
			display: none;
		}
	}

	.PagesSidebar-top-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.PagesSidebar-top-section-left {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.PagesSidebar-multi-selection-counter {
		display: flex;
		justify-content: space-between;
		align-items: center;
		justify-content: end;
		gap: 8px;
		flex: 1;
	}

	.PagesSidebar-multi-selection-counter-label {
		font-weight: 500;
		font-size: 14px;
	}

	.PagesSidebar-content {
		padding: 0;
	}
	/* #endregion root */

	/* #region tree */
	.PagesSidebarTree {
		min-height: 100%;
		padding: 8px;
	}

	.PagesSidebarTree-empty-state {
		padding: 8px 12px;
		color: var(--color-fg-07);
		font-size: 0.875rem;
	}

	.PagesSidebarTree:not(:has(.PagesSidebarTreeRenameInput-input:focus)) {
		.PagesSidebarTreeItem.PagesSidebarTreeItem-content-navigated {
			font-weight: 500;
			color: var(--color-fg-10);
		}

		&:focus-within {
			.PagesSidebarTreeItem.PagesSidebarTreeItem-content-navigated {
				font-weight: 500;
				color: var(--color-fg-11);
			}
		}
	}

	.PagesSidebarTree-dragging {
		.PagesSidebarTreeItem-primary-action-interactive-area > * {
			pointer-events: none;
		}
	}

	.PagesSidebarTree-dragging-root-target {
		background-color: var(--color-sidebar-accent);
		box-shadow: inset 0 0 0 1px var(--color-sidebar-accent-foreground);
	}
	/* #endregion tree */

	/* #region tree item */
	.PagesSidebarTreeItem {
		position: relative;
		height: 44px;
		border-radius: 8px;
		color: var(--color-fg-08);

		&:not(:has(> .PagesSidebarTreeItemArrow)) {
			padding-left: calc((var(--PagesSidebarTreeItem-content-depth) + 1) * 16px);
		}

		&:has(> .PagesSidebarTreeItemArrow) {
			padding-left: calc(((var(--PagesSidebarTreeItem-content-depth) + 1) * 16px) - 20px);
		}

		&:not(.PagesSidebarTreeItem-content-placeholder) {
			display: grid;
			grid-template-columns: auto 1fr auto;
		}

		&.PagesSidebarTreeItem-content-placeholder {
			display: flex;
			gap: 8px;
			align-items: center;
		}

		&.PagesSidebarTreeItem-content-dragging-target > .PagesSidebarTreeItem-primary-action-interactive-area {
			border-style: dashed;
			border-color: var(--color-fg-09);
			background-color: var(--color-base-1-05);
		}

		&.PagesSidebarTreeItem-content-archived {
			text-decoration: line-through;
			color: var(--color-fg-06);
		}
	}

	.PagesSidebarTreeItem-content-placeholder {
		color: var(--color-fg-07);
		font-style: italic;
		cursor: default;
		user-select: none;
	}

	.PagesSidebarTreeItem-primary-action-interactive-area {
		grid-row: 1 / 4;
		grid-column: 1 / 4;

		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;

		outline: none;
	}

	.PagesSidebarTreeItem-meta-label {
		grid-row: 2;
		grid-column: 2;

		display: flex;
		align-items: center;
		padding-inline: 4px;

		height: 100%;
		min-width: 0; /* Allow shrinking */

		pointer-events: none;
	}

	.PagesSidebarTreeItem-meta-label-text {
		font-size: 0.75rem;
		line-height: 1rem;
		color: var(--muted-foreground);

		contain: content;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 0;
	}

	.PagesSidebarTreeItem-actions {
		grid-row: 1 / 3;
		grid-column: 3;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	/* #endregion tree item */

	/* #region tree item arrow */
	.PagesSidebarTreeItemArrow {
		grid-row: 1 / 3;
		grid-column: 1;
	}
	/* #endregion tree item arrow */

	/* #region tree item primary action content */
	.PagesSidebarTreeItemPrimaryActionContent {
		grid-row: 1;
		grid-column: 2;

		display: flex;
		gap: 4px;
		align-items: center;

		font-size: 0.875rem;
		outline: none;

		min-width: 0;
	}

	.PagesSidebarTreeItemPrimaryActionContent-title-container {
		flex: 1;
		min-width: 0;
		contain: content;

		text-align: left;
	}

	.PagesSidebarTreeItemPrimaryActionContent-title {
		contain: content;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	/* #endregion tree item primary action content */

	/* #region tree item icon */
	.PagesSidebarTreeItemIcon {
		width: 16px;
		height: 16px;
	}
	/* #endregion tree item icon */

	/* #region tree rename input */
	.PagesSidebarTreeRenameInput {
		display: flex;
		width: 100%;
	}

	.PagesSidebarTreeRenameInput-input {
		flex: 1;

		&:focus {
			border: 2px solid var(--color-fg-10);
			padding: 2px;
		}
	}
	/* #endregion tree rename input */
}
