@layer components {
	.PageEditor {
		height: 100%;
		width: 100%;
	}

	.PageEditor-editor-container {
		height: calc(100% - 48px);
	}

	.PageEditorHeader {
		display: flex;
		height: 48px;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		border-bottom: 1px solid var(--gray-500);
		background: var(--background);
		padding-left: 16px;
		padding-right: 16px;
	}

	.PageEditorHeader-diff-switch {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.PageEditorHeader-breadcrumb {
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 0.875rem;
		color: var(--gray-800);
	}

	.PageEditorHeader-breadcrumb-home,
	.PageEditorHeader-breadcrumb-segment,
	.PageEditorHeader-breadcrumb-segment-current {
		white-space: nowrap;

		padding: 6px;

		display: inline-flex;
		gap: 4px;
		align-items: center;
		justify-content: center;
	}

	.PageEditorHeader-breadcrumb-home,
	.PageEditorHeader-breadcrumb-segment {
		color: var(--gray-600);
		cursor: pointer;

		&:hover {
			color: var(--gray-800);
			text-decoration: underline;
		}
	}

	.PageEditorHeader-breadcrumb-home-underline-hack {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		margin-top: 4px;
		pointer-events: none;
		user-select: none;
		text-decoration: inherit;
	}

	.PageEditorHeader-breadcrumb-segment-current {
		padding: 8px;
		color: var(--gray-700);
	}

	.PageEditorHeader-switch-group {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.PageEditorHeader-switch-container {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.PageEditorHeader-label-text,
	.PageEditorHeader-switch-text {
		font-size: 0.75rem;
		color: var(--gray-600);
	}
}
