@layer components {
	:where(.PageEditorDiff) {
		display: flex;
		flex-direction: column;

		height: 100%;
		min-height: 0;

		/* Matches PageEditorPlainText behavior so the Monaco container can shrink/grow correctly */
		:where(.PageEditorDiffToolbar) {
			height: 44px;
			background: var(--color-base-alt-1-05);

			contain: inline-size layout style;

			position: relative;
			z-index: 1;
		}

		:where(.PageEditorDiffToolbar-scrollable-area) {
			gap: 4px;

			flex-direction: row;
			align-items: center;
			display: flex;

			padding: 4px 8px;

			overflow-x: auto;
			overflow-y: hidden;
			contain: content;

			scrollbar-width: initial;

			min-width: 0;
		}

		:where(.PageEditorDiffToolbar-button) {
			gap: 4px;
		}

		:where(.PageEditorDiffToolbar-button-accept-all) {
			&:not(:disabled) {
				color: var(--color-green-11);

				&:hover,
				&:active {
					color: var(--color-green-12);
				}
			}
		}

		:where(.PageEditorDiffToolbar-button-accept-all-and-save) {
			&:not(:disabled) {
				color: var(--color-green-10);

				&:hover,
				&:active {
					color: var(--color-green-12);
				}
			}
		}

		:where(.PageEditorDiffToolbar-button-discard-all) {
			&:not(:disabled) {
				color: var(--color-red-10);

				&:hover,
				&:active {
					color: var(--color-red-12);
				}
			}
		}

		:where(.PageEditorDiffToolbar-icon) {
			width: 20px;
			height: 20px;
		}

		:where(.PageEditorDiff-editor) {
			height: 100%;
			min-height: 0;
			contain: strict;
			anchor-name: var(--PageEditorDiff-anchor-name);
		}

		:where(.PageEditorDiff-panels-group) {
			flex: 1;
			min-height: 0;
		}

		:where(.PageEditorDiff-editor-panel) {
			min-width: 0;
		}

		:where(.PageEditorDiff-panel-resize-handle-container) {
			/*
			The container makes sure that the even though the handle
			has an arbitrarily large height, it will not affect the ancestor's
			scrollable area size.
			*/
			contain: layout style size;
		}

		:where(.PageEditorDiff-panel-resize-handle) {
			/*
			Since the container size depends exclusively on the content of the editor,
			to ensure the handle spans across the whole page height,
			we set an arbitrarily large height to handle.
			*/
			height: 9999px;

			contain: layout style;

			&::after {
				content: "";

				position: absolute;
				inset: 0;
				background-color: inherit;
			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
			}

			&[data-resize-handle-state="drag"] {
				&::after {
					background-color: var(--color-base-alt-2-10);
				}

				&::before {
					display: flex;
					background-color: var(--color-base-alt-2-10);

					left: -2px;
					right: -2px;
				}
			}

			&[data-resize-handle-state="hover"] {
				&::before {
					display: flex;
					background-color: var(--color-base-alt-1-05);

					left: -6px;
					right: -6px;
				}
			}
		}

		:where(.PageEditorDiff-comments-panel) {
			min-width: 0;
			background-color: var(--color-base-1-02);
		}

		:where(.PageEditorDiff-editor) :where(.monaco-editor),
		:where(.PageEditorDiff-editor) :where(.monaco-diff-editor),
		:where(.PageEditorDiff-editor) :where(.monaco-editor-container) {
			height: 100%;
		}

		:where(.PageEditorPlainTextCommentsSidebar) {
			box-sizing: border-box;
			height: 100%;

			display: flex;
			flex-direction: column;
			gap: 12px;

			padding: 12px;

			overflow: auto;
			contain: content;
		}

		:where(.PageEditorPlainTextCommentsSidebar-header) {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			gap: 8px;
		}

		:where(.PageEditorPlainTextCommentsSidebar-filter) {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		:where(.PageEditorPlainTextCommentsSidebar-filter-mode) {
			display: flex;
			gap: 4px;
		}

		:where(.PageEditorPlainTextCommentsSidebar-list) {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		:where(.PageEditorPlainTextCommentsSidebar-empty) {
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-fg-07);
			height: 49px;
		}
	}

	/* Page Editor Diff Widget Accept Discard - Widget container */
	.PageEditorDiffWidgetAcceptDiscard {
		position: absolute;
		display: inline-flex;
		gap: 4px;
		align-items: center;
		white-space: nowrap;
		z-index: 10;

		/*
			Save monaco a bit of work by specifying a fixed size
			so it doesn't have to measure the widget's size in the render path.
			*/
		width: 52px;
		height: 24px;
	}

	/* Accept and discard button base styles */
	.PageEditorDiffWidgetAcceptDiscard-accept-button,
	.PageEditorDiffWidgetAcceptDiscard-discard-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: 24px;
		height: 24px;
		border: 1px solid var(--color-base-alt-1-10);
		border-radius: 4px;

		cursor: pointer;
		box-sizing: border-box;

		background: var(--color-base-alt-1-04);
		color: var(--color-fg-11);

		box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.25);

		&:hover {
			background: var(--color-base-alt-1-05);
		}

		&:active {
			background: var(--color-base-alt-1-06);
		}
	}

	/* Accept button variant */
	.PageEditorDiffWidgetAcceptDiscard-accept-button {
		color: var(--color-green-10);

		&:hover {
			background: var(--color-green-02);
			border-color: var(--color-green-04);
			color: var(--color-green-10);
		}

		&:active {
			background: var(--color-green-03);
			border-color: var(--color-green-05);
			color: var(--color-green-10);
		}
	}

	/* Discard button variant */
	.PageEditorDiffWidgetAcceptDiscard-discard-button {
		color: var(--color-red-10);

		&:hover {
			background: var(--color-red-02);
			border-color: var(--color-red-04);
			color: var(--color-red-10);
		}

		&:active {
			background: var(--color-red-03);
			border-color: var(--color-red-05);
			color: var(--color-red-10);
		}
	}

	.PageEditorDiffWidgetAcceptDiscard-icon {
		width: 16px;
		height: 16px;

		pointer-events: none;
	}
}
