/* #region root */
.FileEditorRichTextToolsTextStyles {
	display: flex;
}

.FileEditorRichTextToolsTextStyles .MyIconButtonIcon {
	width: 20px;
	height: 20px;
}
/* #endregion root */

/* #region text style toggle */
.FileEditorRichTextToolsTextStyleToggle-active {
	color: var(--color-accent-06);
}
/* #endregion text style toggle */
