@layer components {
	/* #region root */
	.PageEditorRichText {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		&:not(.PageEditorRichText-visible) {
			display: none;
		}
	}

	.PageEditorRichText-editor-content-root {
		width: 100%;
	}

	.PageEditorRichText-editor-content-container {
		width: 100%;

		/*
		Make this the `offsetElement` for the editor.
		Some floating elements are injected in the `offsetElement`.
		*/
		position: relative;

		.prosemirror-dropcursor-block {
			transition: top 0.15s ease-out;
			will-change: top;
		}

		.prosemirror-dropcursor-inline {
			transition: left 0.15s ease-out;
			will-change: left;
		}

		.prosemirror-dropcursor-block,
		.prosemirror-dropcursor-inline,
		.prosemirror-dropcursor-vertical {
			background-color: var(--color-accent-07);
			border-radius: 4px;
		}
	}
	/* #endregion root */

	/* #region editor content */
	.PageEditorRichText-editor-content {
		width: 100%;
		padding: max(16px, var(--app-scrollbar-w) + 1px) 64px 16px 64px;

		color: var(--PageEditorRichText-text-color-fg-default);

		/* Editor content styles */

		.PageEditorRichText-editor-content-container:focus-within & .ProseMirror-selectednode {
			position: relative;

			&::before {
				content: "";
				background-color: var(--color-accent-01);
				border-radius: 12px;

				position: absolute;
				inset: 0 -8px 0 -8px;
				z-index: -1;
			}
		}

		h2 {
			--PageEditorRichText-text-color-fg-default: var(--color-fg-02);

			.dark & {
				--PageEditorRichText-text-color-fg-default: var(--color-fg-11);
			}

			color: var(--PageEditorRichText-text-color-fg-default);
		}

		h3 {
			--PageEditorRichText-text-color-fg-default: var(--color-fg-02);

			.dark & {
				--PageEditorRichText-text-color-fg-default: var(--color-fg-11);
			}

			color: var(--PageEditorRichText-text-color-fg-default);
		}

		h4 {
			--PageEditorRichText-text-color-fg-default: var(--color-fg-02);

			.dark & {
				--PageEditorRichText-text-color-fg-default: var(--color-fg-11);
			}

			color: var(--PageEditorRichText-text-color-fg-default);
		}

		/*
		Give a remote user a caret

		See:
		- Class names are defined by @tiptap/extension-collaboration-caret:
		  +personal/sources/tiptap-3.8.0/packages/extension-collaboration-caret/src/collaboration-caret.ts
		- Demo styles reference:
		  +personal/sources/tiptap-3.8.0/demos/src/Extensions/CollaborationCaret/React/styles.scss
		*/
		.collaboration-carets__caret {
			border-left: 1px solid #0d0d0d;
			border-right: 1px solid #0d0d0d;
			margin-left: -1px;
			margin-right: -1px;
			pointer-events: none;
			position: relative;
			word-break: normal;
		}

		/* Render the username above the caret */
		.collaboration-carets__label {
			border-radius: 3px 3px 3px 0;
			color: #0d0d0d;
			font-size: 12px;
			font-style: normal;
			font-weight: 600;
			left: -1px;
			line-height: normal;
			padding: 0.1rem 0.3rem;
			position: absolute;
			top: -1.4em;
			user-select: none;
			white-space: nowrap;
		}

		/* #region comment mark */
		/* replicated from @liveblocks/react-tiptap/styles.css */
		.lb-tiptap-thread-mark:not([data-orphan="true"], [data-hidden]) {
			background: var(--color-base-1-08);
			color: var(--color-fg-10);

			.lb-tiptap-thread-mark-selected {
				background: var(--color-accent-01);
			}

			&:hover {
				background: var(--color-base-1-10);

				.lb-tiptap-thread-mark-selected {
					background: var(--color-accent-02);
				}
			}
		}

		.lb-tiptap-thread-mark {
			/* Add some space above/below when scrolling to it. */
			scroll-margin-block: 32px;
		}
		/* #endregion comment mark */
	}
	/* #endregion editor content */

	/* #region toolbar */
	.PageEditorRichTextToolbar {
		height: 44px;
		background: var(--color-base-1-04);

		border-bottom: 1px solid var(--color-fg-02);

		contain: size layout style;

		position: sticky;
		top: 0;
		z-index: 1;
	}

	.PageEditorRichTextToolbar-scrollable-area {
		min-height: 44px;
		max-height: calc(44px + var(--app-scrollbar-w));

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 4px;

		padding: 4px 16px 4px 8px;

		overflow: auto hidden;
		contain: content;

		min-width: 0;
	}

	.PageEditorRichTextToolbar-word-count-badge-hidden {
		display: none;
	}

	.PageEditorRichTextToolbar-status-badge {
		width: 10ch;
	}

	.PageEditorRichTextToolbar-word-count-badge {
		min-width: 12ch;
	}

	.PageEditorRichTextToolbar-status-badge,
	.PageEditorRichTextToolbar-word-count-badge {
		padding: 4px 8px;
		font-size: 0.9rem;
	}
	/* #endregion toolbar */

	/* #region bubble */
	.PageEditorRichTextBubble:not(.PageEditorRichTextBubble-rendered) {
		display: none;
	}

	.PageEditorRichTextBubble-content {
		display: flex;

		width: fit-content;
		max-width: 90vw;

		contain: layout style;

		border-radius: 6px;
		border: 1px solid var(--color-base-1-10);

		background: var(--color-base-1-05);
		box-shadow:
			0 20px 25px -5px rgb(0 0 0 / 0.1),
			0 8px 10px -6px rgb(0 0 0 / 0.1);
	}

	.PageEditorRichTextBubble-button {
		gap: 4px;
		border-radius: 0;
	}

	.PageEditorRichTextBubble-icon {
		width: 20px;
		height: 20px;
	}

	/* #endregion bubble */
}
