@layer components {
	.PageEditorRichTextAnchoredCommentsThread,
	.PageEditorRichTextAnchoredCommentsThread-summary {
		border-radius: 8px;
	}

	.PageEditorRichTextAnchoredCommentsThread {
		background-color: var(--color-base-1-01);
		border: 1px solid var(--color-fg-02);

		filter: opacity(0.8);

		contain: content;
	}

	.PageEditorRichTextAnchoredCommentsThread-summary {
		padding: 11px;
		border: 2px solid transparent;
		margin: -1px;

		&:focus-visible {
			border-color: var(--color-fg-12);
		}
	}

	.PageEditorRichTextAnchoredCommentsThread-content {
		padding: 12px;
	}

	.PageEditorRichTextAnchoredCommentsThread:hover,
	.PageEditorRichTextAnchoredCommentsThread-active {
		background-color: var(--color-base-1-02);
		filter: opacity(1);
	}

	.PageEditorRichTextAnchoredCommentsThread-active {
		border-color: var(--color-accent-01);
	}

	.PageEditorRichTextAnchoredCommentsThread-content {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.PageEditorRichTextAnchoredCommentsThread-messages {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.PageEditorRichTextAnchoredCommentsThread-no-messages-placeholder {
		display: flex;
		align-items: center;
		justify-content: center;

		color: var(--color-fg-07);
		height: 49px;
	}

	.PageEditorRichTextAnchoredCommentsMessage,
	.PageEditorRichTextAnchoredCommentsMessageSkeleton {
		display: grid;
		grid-template:
			"avatar header" auto
			"avatar content" 1fr
			/ auto 1fr;
		gap: 4px;
	}

	.PageEditorRichTextAnchoredCommentsMessage-avatar,
	.PageEditorRichTextAnchoredCommentsMessageSkeleton-avatar {
		grid-area: avatar;
	}

	.PageEditorRichTextAnchoredCommentsMessage-header,
	.PageEditorRichTextAnchoredCommentsMessageSkeleton-header {
		grid-area: header;
	}

	.PageEditorRichTextAnchoredCommentsMessage-header {
		font-size: 14px;

		small {
			color: var(--color-fg-07);
		}
	}

	.PageEditorRichTextAnchoredCommentsMessage-content,
	.PageEditorRichTextAnchoredCommentsMessageSkeleton-content {
		grid-area: content;
	}

	.PageEditorRichTextAnchoredCommentsMessage-content {
		line-height: 1.5;
	}

	.PageEditorRichTextAnchoredCommentsForm {
		margin: -1px -1px 0 -1px;
	}

	.PageEditorRichTextAnchoredCommentsForm-input {
		position: relative;

		display: flex;
		gap: 4px;

		padding: 4px;
	}

	.PageEditorRichTextAnchoredCommentsForm-submit-button {
		align-self: end;
	}

	.PageEditorRichTextAnchoredCommentsMessageSkeleton {
		height: 49px;
	}

	.PageEditorRichTextAnchoredCommentsMessageSkeleton-avatar {
		width: 32px;
		height: 32px;

		border-radius: 16px;
	}

	.PageEditorRichTextAnchoredCommentsMessageSkeleton-header {
		height: 21px;
		width: 150px;
	}

	.PageEditorRichTextAnchoredCommentsMessageSkeleton-content {
		height: 24px;
		width: 80%;
	}
}
