@layer components {
	.PageEditorRichTextToolsSlashCommand {
		overflow-y: auto;
	}

	.PageEditorRichTextToolsSlashCommand-empty {
		padding-left: 8px;
		padding-right: 8px;
		color: var(--color-fg-02);
	}

	.PageEditorRichTextToolsSlashCommand-item-icon {
		display: flex;
		height: 40px;
		width: 40px;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		border: 1px solid var(--color-base-1-12);
		background: var(--color-base-1-06);
	}
}
