.PageEditorRichTextToolsTextStyles {
	display: flex;
}

.PageEditorRichTextToolsTextStyles .MyIconButtonIcon {
	width: 20px;
	height: 20px;
}

.PageEditorRichTextToolsTextStyles-active {
	color: var(--color-accent-06);
}
