@layer components {
	/* #region root */
	.PageEditorRichTextSidebarAgent {
		display: flex;
		flex-direction: column;

		width: 100%;
		/* 44px is the size of the sidebar toolbar */
		height: calc(100cqh - 44px);

		position: sticky;
		/* 44px is the size of the sidebar toolbar */
		top: 44px;

		contain: strict;
	}

	.PageEditorRichTextSidebarAgent-header {
		display: flex;
		align-items: center;
		justify-content: end;

		padding: 4px 8px;

		border-bottom: 1px solid var(--color-base-1-06);
	}

	.PageEditorRichTextSidebarAgent-header-actions {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.PageEditorRichTextSidebarAgent-chat-area {
		display: flex;
		flex: 1;
		flex-direction: column;

		overflow: hidden auto;
	}
	/* #endregion root */

	/* #region thread picker */
	.PageEditorRichTextSidebarAgentThreadPicker-item-title {
		overflow: hidden;

		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.PageEditorRichTextSidebarAgentThreadPicker-item-empty {
		padding: 12px 16px;

		color: var(--color-fg-06);

		font-size: 0.875rem;
		text-align: center;
	}
	/* #endregion thread picker */
}
