@layer common_components {
	.PageEditorRichTextToolsNodeSelector .MyButton {
		width: 140px;
	}

	.PageEditorRichTextToolsNodeSelector-popover {
		width: 200px;
	}

	.PageEditorRichTextToolsNodeSelector-icon {
		border: 1px solid var(--color-base-1-10);
		border-radius: 4px;
		padding: 1px;
		width: 20px;
		height: 20px;
	}
}
