@layer components {
	.PageEditorRichText {
		height: 100%;
		width: 100%;
	}

	.PageEditorRichTextInner {
		&:not(.PageEditorRichTextInner-visible) {
			display: none;
		}

		height: 100%;
		width: 100%;
	}

	.PageEditorRichTextInner-editor-wrapper {
		height: 100%;
		width: 100%;

		display: flex;
	}

	.PageEditorRichTextInner-editor-container {
		flex: 1;

		width: 100%;

		/*
		Make this the `offsetElement` for the editor.
		Some floating elements are injected in the `offsetElement`.
		*/
		position: relative;

		overflow-y: auto;
		overflow-x: hidden;

		.prosemirror-dropcursor-block {
			transition: top 0.15s ease-out;
			will-change: top;
		}

		.prosemirror-dropcursor-inline {
			transition: left 0.15s ease-out;
			will-change: left;
		}

		.prosemirror-dropcursor-block,
		.prosemirror-dropcursor-inline,
		.prosemirror-dropcursor-vertical {
			background-color: var(--color-accent-07);
			border-radius: 4px;
		}
	}

	.PageEditorRichTextInner-editor-content {
		height: 100%;
		width: 100%;
		padding-left: 64px;
		padding-right: 64px;
		padding-top: 16px;
		padding-bottom: 16px;

		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 400;
		color: var(--PageEditorRichText-text-color-fg-default);

		outline: none;

		&:focus {
			outline: none;
		}

		/* Editor content styles */
		/* Tiptap editor styles to match liveblocks example */
		&:focus p[data-placeholder]::before {
			content: attr(data-placeholder);
			position: absolute;
			user-select: none;
			pointer-events: none;
			color: var(--color-fg-07);
		}

		&.ProseMirror-hideselection::selection {
			background-color: transparent;
		}

		.PageEditorRichTextInner-editor-container:focus-within & .ProseMirror-selectednode {
			position: relative;

			&::before {
				content: "";
				background-color: var(--color-accent-01);
				border-radius: 12px;

				position: absolute;
				inset: 0 -8px 0 -8px;
				z-index: -1;
			}
		}

		h1 {
			font-size: 2em;
			line-height: 2;
			font-weight: 400;
		}

		h2 {
			--PageEditorRichText-text-color-fg-default: var(--color-fg-02);

			.dark & {
				--PageEditorRichText-text-color-fg-default: var(--color-fg-11);
			}

			font-size: 1.6em;
			font-weight: 400;
			line-height: 1.6;
			color: var(--PageEditorRichText-text-color-fg-default);
		}

		h3 {
			--PageEditorRichText-text-color-fg-default: var(--color-fg-02);

			.dark & {
				--PageEditorRichText-text-color-fg-default: var(--color-fg-11);
			}

			font-size: 1.4em;
			font-weight: 400;
			line-height: 1.6;
			color: var(--PageEditorRichText-text-color-fg-default);
		}

		h4 {
			--PageEditorRichText-text-color-fg-default: var(--color-fg-02);

			.dark & {
				--PageEditorRichText-text-color-fg-default: var(--color-fg-11);
			}

			font-size: 1.3em;
			font-weight: 500;
			line-height: 1.6;
			color: var(--PageEditorRichText-text-color-fg-default);
		}

		h5 {
			font-size: 1.2em;
			font-weight: 500;
			line-height: 1.6;
		}

		h6 {
			font-size: 1.1em;
			font-weight: 700;
			line-height: 1.4;
		}

		p {
			margin-bottom: 0.2em 0;
		}

		ul {
			display: block;
			list-style-type: disc;
			margin: 0.2em 0;
			padding-inline-start: 40px;
			unicode-bidi: isolate;
		}

		ol {
			display: block;
			list-style-type: decimal;
			margin: 0.2em 0;
			padding-inline-start: 40px;
			unicode-bidi: isolate;
		}

		li {
			display: list-item;
			text-align: -webkit-match-parent;
			unicode-bidi: isolate;
		}

		li::marker {
			unicode-bidi: isolate;
			font-variant-numeric: tabular-nums;
			text-transform: none;
			text-indent: 0px;
			text-align: start;
			text-align-last: start;
		}

		[data-decoration-highlight] {
			background-color: var(--color-base-1-10);
		}

		.collaboration-carets__caret {
			position: relative;
			margin-left: -1px;
			margin-right: -1px;
			border-left: 1px solid;
			border-right: 1px solid;
			word-break: normal;
			pointer-events: none;
		}
	}

	.PageEditorRichTextInner-panel-resize-handle {
		contain: layout style;

		&::after {
			content: "";

			position: absolute;
			inset: 0;
			background-color: inherit;
		}

		&::before {
			content: "";

			display: none;

			position: absolute;
			inset: 0;
		}

		&[data-resize-handle-state="drag"] {
			&::after {
				background-color: var(--color-base-alt-2-10);
			}

			&::before {
				display: flex;
				background-color: var(--color-base-alt-2-10);

				left: -2px;
				right: -2px;
			}
		}

		&[data-resize-handle-state="hover"] {
			&::before {
				display: flex;
				background-color: var(--color-base-alt-1-05);

				left: -6px;
				right: -6px;
			}
		}
	}

	.PageEditorRichTextInner-threads-container {
		contain: strict;
	}

	.PageEditorRichTextToolbar {
		height: 44px;
		background: var(--color-base-alt-1-05);

		contain: inline-size layout style;

		position: relative;
		z-index: 1;
	}

	.PageEditorRichTextToolbar-scrollable-area {
		gap: 4px;

		flex-direction: row;
		align-items: center;
		display: flex;

		padding: 4px 8px;

		overflow-x: auto;
		overflow-y: hidden;
		contain: content;

		scrollbar-width: initial;

		min-width: 0;
	}

	.PageEditorRichTextToolbar-word-count-badge-hidden {
		display: none;
	}

	.PageEditorRichTextToolbar-status-badge {
		width: 10ch;
	}

	.PageEditorRichTextToolbar-word-count-badge {
		min-width: 12ch;
	}

	.PageEditorRichTextToolbar-status-badge,
	.PageEditorRichTextToolbar-word-count-badge {
		padding: 4px 8px;
		font-size: 0.9rem;
	}

	.PageEditorRichTextBubble:not(.PageEditorRichTextBubble-rendered) {
		display: none;
	}

	.PageEditorRichTextBubble-content {
		display: flex;

		width: fit-content;
		max-width: 90vw;

		contain: layout style;

		border-radius: 6px;
		border: 1px solid var(--color-base-1-10);

		background: var(--color-base-1-05);
		box-shadow:
			0 20px 25px -5px rgb(0 0 0 / 0.1),
			0 8px 10px -6px rgb(0 0 0 / 0.1);
	}

	.PageEditorRichTextBubble-button {
		gap: 4px;
		border-radius: 0;
	}

	.PageEditorRichTextBubble-icon {
		width: 20px;
		height: 20px;
	}
}
