@layer components {
	.PageEditorRichTextThread {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px;
		border-radius: 8px;
		background-color: var(--color-bg);
		border: 1px solid var(--color-border);
		cursor: pointer;
		transition:
			background-color 0.2s,
			border-color 0.2s;
	}

	.PageEditorRichTextThread:hover {
		background-color: var(--color-bg-hover);
	}

	.PageEditorRichTextThread-active {
		background-color: var(--color-bg-active);
		border-color: var(--color-accent);
	}

	.PageEditorRichTextThread-messages {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.PageEditorRichTextThread-no-messages-placeholder {
		display: flex;
		align-items: center;
		justify-content: center;

		color: var(--color-fg-07);
		height: 49px;
	}

	.PageEditorRichTextThread-message,
	.PageEditorRichTextThread-skeleton {
		display: grid;
		grid-template:
			"avatar header" auto
			"avatar content" 1fr
			/ auto 1fr;
		gap: 4px;
	}

	.PageEditorRichTextThread-message-avatar,
	.PageEditorRichTextThread-skeleton-avatar {
		grid-area: avatar;
	}

	.PageEditorRichTextThread-message-header,
	.PageEditorRichTextThread-skeleton-header {
		grid-area: header;
	}

	.PageEditorRichTextThread-message-header {
		font-size: 14px;

		small {
			color: var(--color-fg-07);
		}
	}

	.PageEditorRichTextThread-message-content,
	.PageEditorRichTextThread-skeleton-content {
		grid-area: content;
	}

	.PageEditorRichTextThread-message-content {
		line-height: 1.5;
	}

	.PageEditorRichTextThread-form {
		margin-top: 8px;
	}

	.PageEditorRichTextThread-input {
		position: relative;
		display: flex;
		gap: 4px;
		padding: 4px;
	}

	.PageEditorRichTextThread-skeleton {
		height: 49px;
	}

	.PageEditorRichTextThread-skeleton-avatar {
		width: 32px;
		height: 32px;

		border-radius: 16px;
	}

	.PageEditorRichTextThread-skeleton-header {
		height: 21px;
		width: 150px;
	}

	.PageEditorRichTextThread-skeleton-content {
		height: 24px;
		width: 80%;
	}
}
