@layer components {
	.PageEditorRichTextAnchoredComments {
		position: relative;
		padding: 16px;

		/* z-index: 1; */
	}

	.PageEditorRichTextAnchoredComments-empty {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-fg-06);
	}

	.PageEditorRichTextAnchoredComments-anchored-elements-container {
		position: relative;

		& > * {
			position: absolute;
			transform: translate3d(0px, var(--lb-tiptap-anchored-threads-top, 0px), 0px);
			top: 0;
			width: 100%;
			padding-bottom: 12px;
		}
	}
}
