@layer components {
	.FileEditorDiffSkeleton {
		position: relative;
		display: flex;
		height: 100%;
		flex-direction: column;
	}

	.FileEditorDiffSkeleton-line {
		border-radius: 4px;
		background: var(--color-base-1-05);
		animation: FileEditorDiffSkeleton-pulse 2s ease-in infinite;
	}

	.FileEditorDiffSkeleton-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 2px;

		width: 100%;
		margin: auto;
		padding: max(16px, var(--FileEditor-top-safe-area, 0px)) 158px 64px;
	}

	.FileEditorDiffSkeleton-line {
		height: 20px;

		&:nth-child(1) {
			width: 40ch;
		}

		&:nth-child(2) {
			width: 80%;
		}

		&:nth-child(3) {
			width: 85%;
		}

		&:nth-child(4) {
			width: 86%;
		}

		&:nth-child(5) {
			width: 80%;
		}

		&:nth-child(6) {
			width: 85%;
		}

		&:nth-child(7) {
			width: 90%;
		}

		&:nth-child(8) {
			width: 0%;
		}

		&:nth-child(9) {
			width: 60%;
		}

		&:nth-child(10) {
			width: 70%;
		}

		&:nth-child(11) {
			width: 0%;
		}

		&:nth-child(12) {
			width: 30ch;
		}
	}

	@keyframes FileEditorDiffSkeleton-pulse {
		0%,
		100% {
			opacity: 1;
		}

		50% {
			opacity: 0.5;
		}
	}
}
