@layer components {
	/* #region control */
	.FileEditorCommentsComposerControl {
		align-self: start;

		width: 100%;

		> div,
		.FileEditorCommentsComposerControl-editor {
			width: inherit;
		}
	}
	/* #endregion control */
}
