@layer components {
	.FileEditorRichTextToolsMathToggle {
		display: contents;
	}

	.FileEditorRichTextToolsMathToggle-active {
		color: var(--color-accent-06);
	}

	.FileEditorRichTextToolsMathToggle .MyIconButtonIcon {
		width: 20px;
		height: 20px;
	}
}
