@layer components {
	/* #region root */
	.FileEditorRichTextToolsLinkSetter-trigger-button {
		text-decoration: underline;
		text-decoration-color: currentColor;
		text-underline-offset: 4px;

		&.FileEditorRichTextToolsLinkSetter-trigger-button-active {
			color: var(--color-accent-06);
		}
	}

	.FileEditorRichTextToolsLinkSetter-popover-content {
		width: 240px;
		padding: 0;
		border: none;
	}
	/* #endregion root */

	/* #region form */
	.FileEditorRichTextToolsLinkSetterForm {
		position: relative;

		width: 100%;
	}

	.FileEditorRichTextToolsLinkSetterForm-input {
		width: 100%;
		contain: style;
	}
	/* #endregion form */
}
