@layer components {
	.FileEditorRichTextToolsComment {
		width: 350px;

		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.FileEditorRichTextToolsComment-form {
		margin: -1px -1px 0 -1px;
	}
}
